
/* Grid styles ************************************************/

.scroller
{
	height: 25px;
	font-family: verdana, arial, sans-serif;
	font-weight: bold;
	font-size: 11px;
}

.grid
{
	font-size: 6px;
}

.grid_odd
{
	font-size: 6px;
	background-color: white;
}

.grid_even
{
	font-size: 6px;
	background-color: #F3F3F4;
}

.grid_label
{
	font-size: 10px;
	font-family: arial, sans-serif;
	overflow: hidden;
	padding: 1px;
}

.grid_milestone
{
	font-size: 2px;
	font-family: arial narrow;
}

.grid_colTots
{
	font-size: 10px;
	font-family: arial narrow;
}	
	

/* Styles for popup windows ***********************************/

.analysis
{
	font-size: 16px;
	font-family: verdana, sans-serif;
}

.trend
{
	font-size: 10px;
	font-family: tahoma, arial, sans-serif;
	width: 110px;
	height: 120px;
}

.spreadsheet
{
	font-family: arial, sans-serif;
	font-size: 12px;
	background-color: ivory;
}

