div.acc_con_form {
	display: block;
	width: 100%;
}

div.acc_con_form table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 1px;
	margin: 0px;
}

div.acc_con_form table td {
	margin: 0px;
	padding: 10px;
	text-align: left;
	border: 1px #CDE solid;
	vertical-align: top;
}
div.acc_con_form table td.half {
	width: 50%;
}

div.acc_con_form table td.label {
	width: 200px;
	background-color: #E8EEF7;
	color: #5c80a5;
	font-weight: bold;
	text-align: left;
	padding-top: 3px;
}
div.acc_con_form table td.data {
	width: 700px;
}

div.acc_con_form input[type="text"], select.full, select.basic, textarea {
	border: 1px solid #cacaca;
}

div.acc_con_form input[type="text"], textarea, select.full, select.basic {
	resize: none;
	padding: 4px;
}

div.acc_con_form input[type="text"].full, textarea.full {
	width: 97%;
}
div.acc_con_form select.full {
	width: 99%;
	
}

span.acc_con_label {
	color: #5c80a5;
	font-weight: bold;
	text-align: left;
	padding-top: 3px;
}

.form_required, .form_error {
	color: red;
	font-weight: normal;
}

.form_error {
	background: url('../images/note_alert.gif');
	background-repeat: no-repeat;
	background-position: left;
	padding: 3px 0px 0px 23px;
	font-size: 1em;
	display: none;
}

div.event_form table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 1px;
	margin: 0px;
	font-size: 1.2em;
	border-right: 1px dashed #cacaca;
}

div.event_form table td {
	margin: 0px;
	padding: 3px 10px 5px 10px;
	text-align: left;
	vertical-align: top;
	width: 50%;
}

div.event_form input[type="text"],textarea {
	resize: none;
}

div.event_form input[type="text"].full {
	width: 95%;
}
div.event_form textarea.full {
	width: 94%;
}


fieldset.radio {
	border: 0px;
	margin: 0px;
	padding: 0px;
}

fieldset.radio input {
	background: #FFF;
	border: 0px;
	margin-bottom: -2px;
}

div.inline {
	display: inline;
	padding: 6px;
	margin: 5px;
}

div.inline div.progress {
	font-size: 1.2em;
	font-weight: bold;
	margin: 0px 6px;
	padding: 5px;
	border: 1px dotted #cde;
	width: 50%;
	display: inline;
}
div.center {
	text-align: center;
	margin: 5px;
}
#note_wrapper {
	padding-right: 0px;
}
