html,body {
font-family:"Lucida Sans Unicode",Tahoma,Verdana,"Lucida Grande",;
font-size:12;
font-size-adjust:none;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:normal;
}
.smlBlackBold
{
    font-family: Verdana, Helvetica, Tahoma, Arial;
    font-size: 8pt;
    font-weight: bold;
    color: rgb(0,0,0);
}.clsButton
{
    font-family: Verdana, Helvetica, Tahoma, Arial;
    font-size: 8pt;
    font-weight: bold;
    background-color: #CCEBFE;
    border: 1px solid rgb(181,226,254);
    cursor: hand;
}
.clsTextBox
{
    font-family: Verdana, Helvetica, Tahoma, Arial;
    border: 1px solid #808080;
    font-size: 8pt;
}
.clsError
{
    font-family: Verdana, Helvetica, Tahoma, Arial;
    font-size: 8pt;
	color:red;
	font-weight:bold;
}
.tblHeader
{
color:#FFFFFF;
font-family:"Lucida Grande","Lucida Sans Unicode",Tahoma,Verdana;
font-size:12px;
font-size-adjust:none;
font-style:normal;
font-variant:normal;
font-weight:bold;
line-height:normal;
padding:2px;
text-align:left;
white-space:nowrap;
}
.event
{
	font: normal 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #4f6b72;
	letter-spacing: 2px;	
	text-align: left;
	border-top: 0;
	border-left: 0;
	border-right: 0px solid #C1DAD7;
}
.event th
{
	font: bold 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;	
	letter-spacing: 2px;	
	text-align: left;
	padding: 4px 4px 4px 10px;
	border-top: 0;
	border-left: 0;
	border-right: 1px solid #C1DAD7;
}
.event td
{
	font: normal 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;	
	letter-spacing: 2px;	
	text-align: left;
	padding: 4px 4px 4px 10px;
	border-top: 0;	
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	
}
.leftcell
{
border-left: 1px solid #C1DAD7;
}