div.advance_section_head {
	color: #000;
	font-size: 1.1em;
	font-weight: bolder;
	/*font-variant: small-caps;*/
	margin: 0 0px 0 0px;
	padding: 2px 5px;
	cursor: pointer;
	background: #ADC2AD;
	border: #EBF0EB 1px solid;
	border-bottom: #5C855C 1px solid;
	border-right: #5C855C 1px solid;
}

div.advance_section_head_b {
	color: #000;
	font-size: 1.1em;
	font-weight: bolder;
	/*font-variant: small-caps;*/
	margin: 0 0px 0 0px;
	padding: 2px 20px;
	cursor: pointer;
	background: #D6E0D6;
	border: #EEE 1px solid;
	border-bottom: #99B399 1px solid;
	border-right: #99B399 1px solid;
}

div.advance_section_form {
	margin: 0 0px;
	cursor: default;
}

div.advance_section_head img {
	margin-right: 5px;
}

div.advance_datagrid div.advance_datagrid_b div.file_datagrid_b {
	display: block;
	width: 100%;
	margin: 1px 0% 0 0%;
}

div.advance_datagrid {
	display: block;
	/*width:100%;*/
	margin: 1px 0% 0 25px;
}

div.advance_datagrid table {
	width: 100%;
	/*
border-collapse:collapse;
*/
	border-collapse: separate;
	border-spacing: 1px;
	margin: 0;
	/*
border:#EEE 1px solid;
border-bottom:#BBB 1px solid;
border-right:#BBB 1px solid;
*/
}

div.advance_datagrid table td {
	margin: 0px;
	padding: 3px 10px;
	text-align: left;
	border: 1px #D6E0D6 solid;
	vertical-align: top;
	background: #F0F5FA;
}

div.advance_datagrid table td.label {
	width: 20%;
	color: #5c80a5;
	font-weight: bold;
	text-align: left;
}

div.advance_datagrid table td.label2 {
	width: 20%;
	color: #777777; /*#5c80a5;*/
	font-weight: bold;
	text-align: left;
}

div.advance_datagrid table td.label span {
	/* white-space:nowrap; */	
}

div.advance_datagrid table td.left {
	width: 30%;
}

div.advance_datagrid table td.right {
	width: 30%;
}

div.advance_datagrid_b {
	background-color: #D6E0D6;
	padding: 0 0 0 20px;
}

div.hidden_form {
	display: none;
}

div.hidden_form fieldset {
	border: 1px solid #899eb3;
	width: 723px;
	margin: 5px;
}

div.hidden {
	display: none;
}

.form_error {
	color: #b70000;
	font-weight: bold;
}

div.file_section_head {
	color: #000;
	font-size: 1.1em;
	font-weight: bolder;
	font-variant: small-caps;
	margin: 0 0px 0 0px;
	padding: 2px 5px;
	cursor: pointer;
	background: #E8EEF7;
	/*border:#EBF0EB 1px solid;
border-bottom:#5C855C 1px solid;
border-right:#5C855C 1px solid; */
}

div.file_datagrid_b {
	background-color: #ECEEF0;
	padding: 0 0 0 20px;
}