.opp {
/* border:1px black solid; */
width:100%;
border-collapse:collapse;
margin:0 0 1px 0; /* 3rd value moves the opp below down */
cursor:pointer;
}

.oppdefault {
cursor:default;
}

.opp td.tl, .opp td.tc, .opp td.tr, .opp td.bl, .opp td.bc, .opp td.br {
/* border:1px black solid; */
background-image:url(../images/sprites.gif); 
margin:0;
vertical-align:top;
color:black;
text-decoration:none;
}

.opp td.tl {
background-position:left -421px;
padding:3px 0 0 6px;
text-align:left;
}

.opp td.tc {
background-position:center -421px;
padding:3px 0 0 0;
text-align:center;
}

.opp td.tr {
padding:3px 10px 0 0;
background-position:right -421px;
text-align:right;
}

.opp td.bl {
padding:0;
background-position:left -667px;
height:6px;
}

.opp td.bc {
padding:0;
background-position:center -667px;
}

.opp td.br {
padding:0;
background-position:right -667px;
}
.appt_person {
border:2px gray solid;
background:black;
color:white;
float:left;
font-weight:bold;
margin:0 10px 0 0;
padding:1px 3px;
}
