table.calendar {
	width:100%;
	margin:0;
	padding:0;
	border-spacing:1px;
	*border-collapse: expression('separate', cellSpacing = '1px');
	*border-right:16px solid white;  /* In IE7, the table will go under scroll bar, so we use a border to push the content to the left */
	-border-right:0px; /* IE6, for once, acts like all the other browsers, so lets undo the previous */
}

table.calendar td {
	vertical-align:top;
	padding:0;
	margin:0;
	border:1px solid #CCDDEE;
	border-bottom:0px;
	background:URL(../images/calendar_bg.gif);
}

table.calendar td.today {
	background:URL(../images/calendar_today_bg.gif);
}

table.calendar td.time {
	width:1px;
	padding:0;
}

table.calendar td.time div {
	width:34px;
	-width:40px;
	height:37px;
	-height:43px;
	padding:3px;
	font-size:11px;
	line-height:11px;
	vertical-align:top;
	text-align:right;
	margin:0;
	background:#e8eef7;
	margin-bottom:1px;
	color:#446688;
}

div.event_con {
	width:100%;
	position:relative;
}

div.event_pos {
	position:absolute;
	left:0;
	width:100%;
}






table.monthly_calendar {
width:100%;
border-collapse:collapse;
}

table.monthly_calendar th {
	
}

table.monthly_calendar td {
padding:0px 9px 0px 3px;
-padding:0px 3px 0px 3px;
vertical-align:top;
height:114px;
border:1px solid #CCDDEE;
width:13.6%;
*width:14%; /* IE doesn't accept partial % widths */
font-size:.9em;
line-height:1em;
overflow:hidden;
}

.monthly_day {
padding:2px 4px;
margin:0 -9px 2px -3px; /* Offsets the cell padding */
-margin:0 -3px 2px -3px; /* Offsets the cell padding IE6*/
text-align:right;
background:#E8EEF7;
font-size:.9em;
line-height:.9em;
font-weight:bold;
color:#0000A0;
}

table.monthly_calendar td.othermonth {
background: #ECEEF0;
}

table.monthly_calendar td.othermonth p {
color: #888;
}

table.monthly_calendar td.today {
background:#f7ec8b;
}

.monthly_event_container, .monthly_event_container_pending {
position:relative;
width:100%;
padding-bottom:6px;
font-size:.9em;
margin-bottom:4px;
}

.monthly_event_container_pending {
margin-bottom:4px;
}

.monthly_lf_color {
position:absolute;
width:25px;
padding:2px;
z-index:-1;
}

.monthly_event {
width:100%;
padding: 0 !important;
overflow:hidden;
border:2px solid #545556;
cursor:pointer;
position:absolute;
z-index:1;
}

.monthly_cal_title_container {
position:relative;
padding:5px 0 5px 0;
}

.monthly_cal_title_container div.monthly_cal_title {
font-size:1.2em;
line-height:1.2em;
text-align:center;
/*font-variant: small-caps;*/
}

.monthly_cal_title_container div.left_arrow {
position:absolute;
top:6px;
left:30px;
}

.monthly_cal_title_container div.right_arrow {
position:absolute;
top:6px;
right:30px;
_right:40px;  /* Hack to correctly position in IE6 */
}

.week_cal {
	position:relative;
	padding:0px;
	margin:0px;
	width:100%;
	overflow-x:hidden;
	border:1px solid #CCDDEE;
	overflow-y:scroll;
	height:485px;
	scrollTop:200px;
}
.week_cal_list {
	position:relative;
	padding:0px;
	margin:0px;
	width:100%;
	overflow-x:hidden;
}

.cal_task {
	width:100%;
	border-left:44px solid white;
	border-right:18px solid white;
	*border-right-width:16px;
}
.week_cal_header{
	text-align:center;
	padding:0px 18px 10px 44px;
}
.week_cal_header_text{
	margin:0 50px;
	font-size:1.4em;
	/*font-variant:small-caps;*/
}
