div.month_today {
	background-color:#F7EC8B;
	width:100%;
	height:115px;
	margin-top:-5px;
}

div.othermonth { 
	background-color:#ECEEF0;
	height:115px;
	margin-top:-5px;
}

.month_event {
	overflow:hidden;
}


.monthly_evets {
	padding:2px 2px 2px 2px;
	border:1px solid #545556; 
	text-align: left;
	margin:2px; 
	width:90%;
	cursor:pointer;

}

.content_body {
	background-color:#FFFFFF;
	border-color:-moz-use-text-color #000000 #000000;
	border-style:none solid solid;
	border-width:0 1px 1px;
	color:#333333;
	font-size:12px;
	padding:10px 10px;
}


.chip {
	overflow: hidden;
	font-size: 85%; 
	display:none;
	cursor: default;
	-moz-user-select: none
}

.nogutter {
	border-left: 1px solid #cde
}

#calowner {
	height: 100%;
	width: 100%;
	display: block
}

.dayOfMonth {
	text-align: right;
	position: absolute;
	left: 0;
	top: 0;
	background: #e8eef7;
	padding-bottom: 2px;
	cursor: pointer;
	width: 100%;
	font-size: 70%;
	font-family: Verdana
}

.dayInMonth {
	color: #6a6a6b
}

.dayNotInMonth {
	color: #babdc4
}

.currentDay {
	background: #bcd;
	border-left: 1px solid #889bb1;
	border-right: 1px solid #def
}

.chip .b1,.chip .b2 {
	height: 1px;
	font-size: 1px;
	line-height: 1px
}

.chip .b1 {
	margin: 0 2px
}

.chip .b2 {
	margin: 0 1px;
	border-style: solid;
	border-width: 0 1px
}

.chip .t2 {
	border-width: 0
}

.chip .chipbody {
	overflow: hidden;
	position: relative;
	width: 100%;
	color: #fff
}

.chip dl {
	position: relative;
	overflow: hidden;
	margin: 0;
	border-style: solid;
	border-width: 0 1px
}

.chip dt {
	margin: -1px 0 0;
	padding: 1px 3px 0;
	font: bold 80%/ normal Verdana, Sans-serif;
	color: #fff;
	white-space: nowrap
}

.chip dd {
	overflow: hidden;
	width: 100%;
	margin: 0;
	padding: 0;
	font: 100%/ 1.3em Verdana, Sans-serif
}


.chip dt b {
	display: block;
	width: 100%;
	overflow: hidden
}

.chip dd div {
	padding: 0 2px 2px
}

.chip .location {
	display: block;
	font-style: normal
}

.chip .status {
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	width: 17px;
	margin: 0
}

.chip .statusicon {
	display: block;
	padding: 0 1px 0 2px
}

.chip .status img {
	display: block;
	margin: 0
}

.chip .status .t1 {
	display: block;
	margin-right: 1px
}

.chip .status .t2 {
	display: block;
	margin-right: 0
}

.chip .edit dt {
	padding-top: 0;
	padding-bottom: 1px
}

div.grid {
	background: #fff;
	position: relative;
	cursor: default;
	-webkit-user-select: none;
	-khtml-user-select: none
}

#allDayGrid {
	background: #e8eef7;
	margin-bottom: 5px;
	margin-left: 40px;
	margin-right: 16px
}

.hrule {
	position: absolute;
	left: 0;
	width: 100%
}

.hruleodd {
	border-top: 1px dotted #ddd
}

.hruleeven {
	border-top: 1px solid #ddd
}

.vrule {
	position: absolute;
	top: 0
}

.gutter {
	border-left: 3px double #ddd !important
}

.inset {
	border-style: solid;
	border-width: 1px;
	border-color: #a2bbdd #fff #fff #a2bbdd
}

.chead,.rhead {	
	position: absolute
}

.chead,.rheadtext {
	font-family: Arial;
	font-size: 11px;
	-moz-user-select: none 
}

.rheadtext {
	color: #468;
	text-align: right;
	padding-right: 4px
}

.rhead {
	background: #e8eef7;
	width: 100%;
	left: 0;
	border-top: 1px solid #ddd
}

.chead {
	text-align: center;
	font-size: .9em;
	width: 100%; 
	left: 0%;
}

.clear { clear:both;}

#colheaders {
	position: relative;
	height: 2.5ex
}

.colheadersmiddle {
	margin-left: 40px;
	margin-right: 16px
}

#rowheaders {
	position: relative;
	height: 100%
}

#rowheadcell {
	background: #c3d9ff;
	text-align: center
}

#gridcontainercell {
	position: relative
}

#gridcontainer {
	overflow-x: hidden;
	overflow-y: scroll;
	height: 300px;
	position: relative;
	border-top: 1px solid #a2bbdd;
	border-left: 1px solid #a2bbdd;
	border-bottom: 1px solid #fff;
	background: #e8eef7
}

#eventowner,#decowner {
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	position: absolute
}


.t1 {
	margin: 0 2px;
	height: 1px;
	font-size: 1px;
	line-height: 1px
}

.t2 {
	margin: 0 1px;
	height: 1px;
	font-size: 1px;
	line-height: 1px
}

.lkh, a.lkh, a.lkh:visited, a.lkh:hover, a.lkh:active {
	color: #000000;
	cursor: pointer;
	cursor: hand;
	white-space: nowrap; 
	font-size:12px;
	font-weight: 100;	 
}

.lkh,a.lkh,a.lkh:visited {
	text-decoration: none;font-size:12px;	
}

a.lkh:hover,a.lkh:active {
	text-decoration: none;
}


#eventowner a{
	text-decoration: none;
}
