.call_report_label, .call_report_range  {
	padding: 3px;
	width: 150px;
	float: left;
	font-size: 1.1em;
}
.call_report_label_wrapper {
	width: 100%;
}

.to {
	padding: 4px;
}

.subtitle {
	font-size: 1.1em;
}

.ui-datepicker-trigger {
	width: 20px;
	width: 20px;
	position: relative;
	top: 5px;
}

#call_report_filter_wrapper {
	width: 800px;
}

#call_report_range_select {
	float: left;
	width: 500px;
	height: 30px;
}

#call_report_user {
	float: left;
	width: 250px;
	height: 30px;
	padding: 2px;
}
.closed_img {
	text-align: center;
}

.call_report_label_wrapper:hover {
	background-color: #FFFF99;
	text-decoration: none !important;
	color: #000;
	
}
.call_report_label_wrapper a.label {
	display: block;
	color: #000;
	font-weight: normal;
	text-decoration: none !important;	
}
.call_report_toggle_wrapper {
	float: left;
	display: inline;
	padding: 3px;
}
.call_report_toggle_wrapper  p {
	margin: 0px 5px 3px 0px;
}
#call_report_toggles_wrapper {
	border-bottom: 1px solid #cacaca;
}
