.chromestyle {
	width: 100%;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFFFFF;
}

.chromestyle ul {
	width: 100%;
	background: url(../images/horz_nav_tile_grey.jpg) repeat;
	/*THEME CHANGE HERE*/
	padding: 9px 0px 8px 0px;
	margin: 0;
	text-align: left; /*set value to "left", "center", or "right"*/
	color: #FFFFFF;
	line-style: none;
	margin: 0;
	padding: 0;
	*border-bottom: 1px solid black;
}

.chromestyle ul li {
	display: inline;
	color: #FFFFFF;
	text-align: center;
	line-height: 31px;
	height: 30px;
	margin: 0;
	padding: 0;
	-margin-top: -7px;
}

.chromestyle ul li a {
	color: #FFFFFF;
	padding: 8px 10px 8px 10px;
	text-decoration: none;
	font-size: 1.1em;
	border-right: 1px solid black;
	margin-left: -4px;
	-margin-left: 0;
	margin-top: -10px;
}

.chromestyle ul li a:hover,.chromestyle ul li a.selected {
	/*script dynamically adds a class of "selected" to the current active menu item*/
	background: url(../images/horz_highlight_nav_tile.jpg) center center
		repeat-x; /*THEME CHANGE HERE*/
	text-decoration: none;
}

/* ######### Style for Drop Down Menu ######### */
.dropmenudiv {
	position: absolute;
	top: 0;
	border: 1px solid #BBB; /*THEME CHANGE HERE*/
	border-bottom-width: 0;
	font: normal 12px Verdana;
	line-height: 18px;
	z-index: 100;
	background-color: white;
	width: 200px;
	visibility: hidden;
	filter: progid : DXImageTransform.Microsoft.Shadow ( color = #CACACA,
		direction = 135, strength = 4 );
	/*Add Shadow in IE. Remove if desired*/
	background-color: #6C6C6C;
}

.dropmenudiv a {
	width: auto;
	display: block;
	text-indent: 3px;
	border-bottom: 1px solid black; /*THEME CHANGE HERE*/
	padding: 5px 0;
	text-decoration: none;
	font-weight: bold;
	color: white;
	text-decoration: none;
}

* html .dropmenudiv a { /*IE only hack*/
	width: 100%;
}

.dropmenudiv a:hover { /*THEME CHANGE HERE*/
	background-color: #9CB3E7;
	text-decoration: none;
}

.indicator {
	width: 10px;
	height: 10px;
	background: url('../images/arrows9.png') no-repeat;
	/* 8-bit indexed alpha png. IE6 gets solid image only */
}

a>.indicator { /* give all except IE6 the correct values */
	top: .8em;
	background-position: 0 -100px;
	/* use translucent arrow for modern browsers*/
}

.mpower_button {
	margin: -4px 0px -7px 0px;
	*margin: 4px 0px -15px 0px;
	-margin: 11px 0px -11px 0px;
}

.my_goalmine_button {
	width: 100px;
	margin: -8px -7px -5px -5px;
}

.pending_event {
	background: url(../images/horz_alert_nav_tile.jpg) repeat-x;
}

.pending_email {
	background: url(../images/horz_alert_nav_tile.jpg) repeat-x;
}