#CP_hourcont {
	BORDER-BOTTOM: #bbbbbb 1px dashed; 
	POSITION: absolute; 
	BORDER-LEFT: #bbbbbb 1px dashed; 
	PADDING-BOTTOM: 0px; 
	BACKGROUND-COLOR: #dddddd; 
	PADDING-LEFT: 0px; 
	PADDING-RIGHT: 0px; 
	DISPLAY: none; 
	BORDER-TOP: #bbbbbb 1px dashed; 
	BORDER-RIGHT: #bbbbbb 1px dashed; 
	PADDING-TOP: 0px;
	z-index:4000;	
}
#CP_minutecont {
	BORDER-BOTTOM: #cccccc 1px dashed; 
	POSITION: absolute; 
	BORDER-LEFT: #cccccc 1px dashed; 
	PADDING-BOTTOM: 0px; 
	BACKGROUND-COLOR: #dddddd; 
	PADDING-LEFT: 0px;
	PADDING-RIGHT: 0px; 
	DISPLAY: none; 
	BORDER-TOP: #cccccc 1px dashed; 
	BORDER-RIGHT: #cccccc 1px dashed; 
	PADDING-TOP: 0px; 
	z-index:4000;	
}
.floatleft {
	FLOAT: left
}
.CP_hour {
	PADDING-BOTTOM: 1px; BACKGROUND-COLOR: #eeeeee; MARGIN: 1px; PADDING-LEFT: 0px; WIDTH: 35px; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap; FONT-SIZE: 9px; CURSOR: pointer; PADDING-TOP: 1px
}
.CP_minute {
	PADDING-BOTTOM: 1px; BACKGROUND-COLOR: #eeeeee; MARGIN: 0px; PADDING-LEFT: 0px; WIDTH: auto; PADDING-RIGHT: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; WHITE-SPACE: nowrap; FONT-SIZE: 9px; CURSOR: pointer; PADDING-TOP: 1px;
}
.CP_over {
	BACKGROUND-COLOR: #ffffff
}
