/* CSS Document */

	body{
		width:100%;
		margin:0px;
		padding:0px;
		font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;	/* Font to use */
		background-color:#E2EBED;
	}
	#heading{
		height:161px;
	}

	/* END DEMO CSS */

	#dragScriptContainer{	/* BIG DIV containing HTML needed for the entire script */
		width:1000px;
		margin:0 auto;
		//border:1px solid #000;
		height:100%;
		margin-top:0px;
		padding:3px;
		-moz-user-select:no;
		overflow:hidden;
		background-color:#FFF;
		

	}

	h1{
		margin:5px;

	}
	#firstSection, #secondSection,#thirdSection{	/* Big div for all the questions */
		float:left;
		width:700px;
		padding:12px;
		visibility:hidden;	/* Initial state  - Don't change this */
		border:1px solid #FFF;
	}
	#totalFieldsDiv{	/* Big div for all the answers */
		float:right;
		height:400px;
		width:250px;
		border:1px solid #FFF;
		padding:2px;
		visibility:hidden; /* Initial state  - Don't change this */
	}

	#firstSection div,#totalFieldsDiv div,#dragContent div, #secondSection div,#thirdSection div{	/* General rules for small divs - i.e. specific questions and answers */
		width:145px;
		height:20px;
		line-height:20px;
		float:left;
		margin-right:15px;
		margin-bottom:2px;
		text-align:center;
	}

	#dragContent div{	/* Drag content div - i.e. specific answers when they are beeing dragged */
		border:1px solid #000;
	}

	#totalFieldsDiv .dragDropSmallBox{	/* Small answer divs */
		border:1px solid #000;
		width:250px;
		cursor:pointer;
	}

	#firstSection .dragDropSmallBox,#secondSection .dragDropSmallBox,#thirdSection .dragDropSmallBox{	/* Small answer divs */
		border:1px solid #000;
		cursor:pointer;
		width:250px;
		background-color:#E2EBED;
	}

	#firstSection div div,#secondSection div div,#thirdSection div div{	/* DIV after it has been dragged from right to left box */
		margin:0px;
		border:0px;
		padding:0px;
		background-color:#FFF;
		cursor:pointer;
	}
	#firstSection .destinationBox,#secondSection .destinationBox,#thirdSection .destinationBox{	/* Small empty boxes for the questions - i.e. where answers could be dragged */
		
		//background-color:#DDD;
		width:250px;	/* Width of #firstSection div + 2 */
		height:22px;
	}
	#firstSection .correctAnswer,#secondSection .correctAnswer,#thirdSection .correctAnswer{	/* CSS indicating correct answer */
		background-color:green;
		color:#fff;
		width:250px;
		border:1px solid #000;
	}
	#firstSection .wrongAnswer,#secondSection .wrongAnswer,#thirdSection .wrongAnswer{	/* CSS indicating wrong answer */
		background-color:green;
		color:#fff;
		width:250px;
		border:1px solid #000;
	}

	#dragContent div{
		background-color:#FFF;
		width:250px;
	}

	#firstSection .dragContentOver,#secondSection .dragContentOver,#thirdSection .dragContentOver{	/* Mouse over question boxes - i.e. indicating where dragged element will be appended if mouse button is relased */
		border:1px solid #F00;
		width:250px;
	}

	#totalFieldsDiv.dragContentOver{	/* Mouse over answer box - i.e. indicating where dragged element will be appended if mouse button is relased */
		border:1px solid #F00;
	}

	/* NEVER CHANGE THIS */
	#dragContent{
		position:absolute;
		display:none;
	}
	p{
		margin:2px;
		font-size:0.9em;
	}

	

