	
	.dragableBox{		
		background-color:#FFF;
		margin:5px;
		border-right:2px solid #AAA;	
		border-bottom:2px solid #AAA;	
	}

	.dragableBoxInner{
		border:1px solid #317082;
	}
	.dragableBoxHeader{	
		background-color: #66CCFF;
		height:20px;
		font-weight:bold;
		color: #317082;
	}
	.dragableBoxHeaderRight{	
		background-color: #66CCFF;
		height:20px;
		font-weight:bold;
		color: #317082;
		width : 100px;
	}
	.dragableBoxHeader span{	/* Text inside header of RSS box */
		line-heigth:20px;
	}
	.dragableBoxHeader img,.dragableBoxHeader span{	/* Text and reload image inside RSS box */
		float:left;
	}
	.boxItemHeader{	/* Title of items inside dragable boxes */
		font-weight:bold;
		margin:0px;
		color:#000;
		text-decoration:none;
		overflow:hidden;
	}	
	.boxItemHeader:hover{	/* Title of items inside dragable boxes - mouseover*/
		font-weight:bold;
		margin:0px;
		color:#F00;
		text-decoration:underline;
	}
	.dragableBoxHeader input{	/* text inputs that gets visible when you click on the "edit" link at the top of a rss box */
		font-size:10px;	
	}

	.dragableBoxContent{	/* DIV holding data inside dragable boxes */
		padding:3px;
		clear:both;
	}
	.dragableBoxContentRight{	
			padding:3px;
			clear:both;
			width : 100px;
	}
	#rectangleDiv{	
		border:1px dotted red;
		margin:5px;
	}

	.dragableBoxStatusBar{	
		border-top:3px double #317082;
		height:14px;
		background-color: #99CCFF;
		padding:2px;
	}
	
	.dragableBoxEditLink{	
		color:#317082;
		text-decoration:none;
		padding-top:1px;
	}
	.dragableBoxEditLink:hover{	
		color:red;
		text-decoration:underline;
	}
