img.email_hold {
margin-right:4px;
cursor:pointer;
width:16px;
height:16px;
}

span.email {
color: #000000;
}

span.display_name {
color: #d9992a;
font-weight:bold;
}


span.email_subject {
color: #000000;
font-weight:bold;
}

div.email_body {
padding-left:10px;
border:1px solid black;
}

div#email_hol_emails {	
margin: 0 0px;
}

.note_alt {
margin: 0 0px;
padding: 15px 20px;
}

.note {
margin: 0 0px;
padding: 15px 20px;
}

div.scroll {
border: 1px solid #DDD;
max-height: 200px;
overflow: auto;
}

p.body {
margin: 0 0px; 
padding: 5px 10px;
}

div.attachment {
margin: 0 0px; 
padding: 5px 10px;
}
#hold {
	overflow-y: auto;
	height: 600px;
}

