div.event {
	overflow: hidden;
	font-family: Arial;
	border: #545556 solid 2px;
	background: #DDD;
	cursor: pointer;
	page-break-inside: avoid;
}

div.event div { /* width:100%;*/
	position: static;
}


div.event_head {
	overflow: hidden;
	white-space: nowrap;
	font-family: Arial;
	font-size: .9em;
	font-weight: bold;
	padding: 0px 0px 0px 3px;
	background: #eee;
	color: black;
}


#preview {
	position: absolute;
	border: 1px solid #FFFFFF;
	background-color: #FFFFFF;
	padding: 0px 0px 0px 0px;
	display: none;
	max-width: 250px;
	_width: 250px;
	color: #000;
	z-index: 400;
	margin-bottom: 0;
}

div.event div.event_head span.text {
	width: 70%;
	float: left;
	height: 100%;
}

div.event div.event_head span.buttons {
	width: 28%;
	float: right;
	text-align: right;
	padding: 0 10px 0 0;
}

div.event div.event_head span.buttons a {
	text-decoration: underline;
	line-height: 20px;
	font-size: 1.2em;
}

div.event span {
	margin-right: 5px;
	font-weight: bold;
}
p.subtitle {
	text-align: left;
	margin: 2px 0px;
	padding: 2px;
	font-style: italic;
	font-weight: bold;
	font-size: 1.1em;
}

.pendingevent {
	border: 2px solid red !important;
}

.closedevent {
	text-decoration: line-through !important;
}
.closedevent {
	padding: 4px;
}
.closedevent table td{
	text-decoration: line-through !important;
	padding: 4px;
}

.openevent {
	padding: 4px;
}

div#week-days {
	display: none;
}

.hidden {
	display: none;
}

div#attendees div {
	width: 94%;
	padding: 3px;
	border: 1px dotted #cacaca;
}


div#attendees a {
	float: right;
	cursor: pointer;
}

table.sidebar_tbl {
	border-collapse: collapse;
	width: 100%;
}
table.sidebar_tbl td {
	padding: 1px;
	margin: 0px;
}
table.sidebar_tbl td.label {
	width: 70px;
	vertical-align: top;

}
table.sidebar_tbl td.label span {
	margin-left: 2px;
}

.task_head_wrapper {
	margin: 0px;
	padding: 0px;
}
.task_left {
	font-weight: bold;
	float: left;
	margin: 0px;
	padding: 0px;
}	
.task_icon {
	float: right;
	margin: 0px;
	width: 24px;
	height: 24px;
	font-size: 1.7em;
	font-weight: normal;
	text-align: center;
	color: #000;
}
.past_due {
	color: red;
	font-size: 1.2em;
	margin-left: 15px;
	font-weight: bold;	
}

#expand_event_alert {
	color: red;
}

div#add_event_alert {
	border: 1px solid #cde;
	-moz-border-radius: 15px;
	border-radius: 15px;
	display: none;
	padding: 10px;
}

#add_event_alert_wrapper {
	float: left;
}

table.user_tree td.left_cell {
	width: 75px;
}
table.user_tree td.right_cell {
	width: 410px;
}

#event_alert_wrapper {
}

#label_priority, #priority, #level_event_msg {
	display: none;
}
#show_event_detail {
	float: right;
	width: 250px;
	font-style: italic;
	text-align: right;
	
}
#add_event_alert_wrapper {
	margin-left: 5px;
}

