.float_save {
	z-index: 2000;
	height: 65px;
	width: 100px;
}

.float_save_banner { /* border:1px solid black; */
	border: 0px;
	width: 100px;
	background-color: white;
	margin: 0;
	padding-top: 10px;
	/* height:72px; */
}

.float_save_save { /* 	border:1px solid black; */
	border-top: 1px solid #C6CCD7;
	border-left: 1px solid #C6CCD7;
	border-rigth: 2px solid #5F6C87;
	border-bottom: 2px solid #5F6C87;
	width: 80px;
	height: 30px;
	background-color: #909CB2;
	color: white;
	font-size: 1.2em;
	margin: 0 10px 10px 10px;
}

.float_save_clear {
	clear: both;
	height: 4px;
}