img {
	display:none;
}

#faheader {
	text-align:center; font-size:24px;
}

table {
	font-size:10px; font-weight:bold;
}


.fablue {
	color:#0099FF;
}
.facaption {
	color: #000000;
	text-align:left;
}

.fabold {
	color: #996699;
	font-size:14px; 
	font-weight:400;
}

.fared { 
	color:#FF3300; text-align:right;
}

.bleft { 
	border-left:2px solid gray;
}
.bright { 
	border-right:2px solid gray;
}
.btop { 
	border-top:2px solid gray;
}

.bbottom { 
	border-bottom:2px solid gray;
}

.fagpf { 
	background-color:#999999; 
	border-left:2px solid gray; 
	border-right:2px solid gray;
}

.fathead {
	color: #339900; 
	font-size:14px; font-weight:bold;
}

table.fasales {
	border-collapse:collapse;
}

table.fasales td {
	border: 2px solid gray;
}

table td.falefttd {
	border-left:2px solid white;
	border-top:2px solid white;
	border-bottom:2px solid white;
}

input {
	background-color:#CCCC33;
}

.edit { cursor:pointer; font-size:8px;width:40px}
