html,body {
margin:0;
padding:0;
font-family:Helvetica,Arial,Sans-Serif;
}

#header {
display:none;
}

#tabs {
display:none;
}

#footer {
font-size:.6em;
margin:50px 0 20px 0;
width:100%;
text-align:center;
}
