@CHARSET "ISO-8859-1";

#stage {
	width: 600px;
	padding: 10px;
}

#stage input {
	margin-left: 3px;
}

input.long {
	font-size: 1.2em;
	width: 250px;
}
input.short {
	width: 50px;
}

.inline {
	padding: 3px;
	margin-left: 15px;
	display: inline;
}

.inline label {
	padding: 3px;
}

.inline label, .inline input {
	display: block;
	float: left;
}

#server_settings {
	display: none;
}
#show_server_settings {
	float: right;
}
#save_changes {
	float: left;
	margin-bottom: 8px;
}
#saving {
	width: 100%;
	padding-top: 8px;
	text-align: center;
	display: none;
}

p.error {
	color: red;
}

table#accounts {
	border-collapse: collapse;
	width: 100%;
	margin-right: 5px;
}

table#accounts tr.header td {
	font-weight: bold;
	background-color: #E8EEF7;
}

table#accounts tr td {
	padding: 3px;
	border: 1px solid #cde;
}

table#accounts tr td.center {
	text-align: center;
}

#loginForm p {
	font-weight: bold;	
}
#loginForm label {
	padding: 25px;
}
#loginForm img.close {
	border: 1px solid #fff;
	width: 16px;
	height: 16px;
	float: right;
}
#loginForm img.close:hover {
	border: 1px solid #666;
}

#save_button_wrapper {
	font-size: 1.5em;
	text-align: center;
}

.message {
	display: block;
	margin-top: 20px;
	font-style: italic;
	color: red;
}	
