table.import {
	width: 100%;
	border-collapse:collapse;
	border: 1px solid #ccc;
}

table.import tr {
	text-align: left;
}

table.import tr.odd {
	background-color: #eee;
}
table.import tr.even {
	background-color: #fff;
}

div.wrapper {
	display: inline;
	border: solid;
}
div#buttons {
	text-align: right;
	margin-right: 5px;
}

div#help {
	border: 1px solid #cacaca;
	background-color: #eee;
	color: #666;
	padding: 5px;
	margin-bottom: 15px;
}

h2.simple {
	text-indent: 0px;
}

h3.indentHeading {
	margin-left: 10px;
	font-size: 1.5em;
}

h3.indent {
	margin-left: 12px;
	font-style: italic;
}

div#upload {
	padding: 5px;
	width: 500px;
}
p.useAll {
	display: inline;
	padding: 5px;
	font-style: italic;
	font-weight: bold;
}

div.useNew {
	display: inline-block;
	margin-left: 4px;
	margin-right: 30px;
}

div.useCurrent {
	display: inline;
	padding: 5px;
	margin-right: 10px;
}

div.match {
	color: red;
	float:left;
	width: 225px;
	margin-left: 4px;
	
}

div.match p {
	font-weight: bold;
	font-style: italic;
	padding: 0px;
	margin: 0px;
}


label.error {
	margin-left: 5px;
	color: red;
	display: none;
}

div#stage p {
	text-align: right;
}

.highlightOption {
	background-color: #cacaca;
}

p.uploadError {
	padding: 4px;
	color: red;
}

h1.dark {
	color: #666;
	font-style: italic;
	text-align: center;
	text-indent: 0px;
}

h2.dark {
	font-style: italic;
	padding: 4px;
	color: #666;
	text-align: center;
	text-indent: 0px;
}
h1.errorMsg {
	color: red;
	text-indent: 0px;
}