table.jet_datagrid {
width:100%;
border-collapse:collapse;
}

table.jet_datagrid td {
margin:0px;
padding:3px 0 3px 0;
}

table.jet_datagrid td.label {
width:1px;
white-space:nowrap;
padding-right:20px;
color: #899eb3;
font-weight:bold;
}
	
	
table.jet_datagrid td.left {
width:50%;
padding-right:20px;
}
	
table.jet_datagrid td.right {
width:50%;
}
	
	