div.section_head {
	color: #000;
	font-size: 1.1em;
	font-weight: bolder;
	/*font-variant: small-caps;*/
	margin: 0 0px 0 0px;
	padding: 2px 5px;
	cursor: pointer;
	background: #cde;
	/*
 * 	background: #DDD;
 * 		border: #EEE 1px solid;
 * 			border-bottom: #BBB 1px solid;
 * 				border-right: #BBB 1px solid;
 * 					*/
}

div.section_form {
	margin: 0 0px;
	cursor: default;
}

div.section_head img {
	margin-right: 5px;
}

div.jet_datagrid {
	display: block;
	width: 100%;
	margin: 1px 0px 0px 0px;
}

div.jet_datagrid table {
	width: 100%;
	border-collapse:collapse;
	/*border-collapse: separate;*/
	border-spacing: 1px;
	margin: 0 0 0 0;
	/*
 * border:#EEE 1px solid;
 * border-bottom:#BBB 1px solid;
 * border-right:#BBB 1px solid;
 * */
}

div.jet_datagrid table td {
	margin: 0px;
	padding: 3px 10px;
	text-align: left;
	border: 1px solid #cde;
	vertical-align: top;
	background: #FFF;
}

div.jet_datagrid table td.label {
	background-color: #e8eef7;
	width: 20%;
	color: #5c80a5;
	font-weight: bold;
	text-align: left;
}

div.jet_datagrid table td.label2 {
	width: 20%;
	color: #777777; /*#5c80a5;*/
	font-weight: bold;
	text-align: left;
}

div.jet_datagrid table td.label3 {
	background-color: #e8eef7;
	width: 25%;
	color: #5c80a5;
	font-weight: bold;
	text-align: left;
}

div.jet_datagrid table td.data {
	width: 75%;
}


div.jet_datagrid table td.label span { /* white-space:nowrap; */
	
}

div.jet_datagrid table td.left {
	width: 30%;
}

div.jet_datagrid table td.right {
	width: 30%;
}

div.hidden_form {
	display: none;
}

div.hidden_form fieldset {
	border: 1px solid #899eb3;
	width: 723px;
	margin: 5px;
}

div.hidden {
	display: none;
}

.form_error {
	color: #b70000;
	font-weight: bold;
}

p.repeat_label {
	padding: 5px 0px 5px 2px;
	margin: 0px;
}	

