.content_head {
	display:none;
}

/*#calendar .content_head {
	background-color: #fff;
	border: 1px solid #FFFFFF;
	height:10px;
	margin-top:1px;
	display:block;
}*/

#dashboard {
	display: none;
}
.sf-menu-module {
	display: none;
}
#secMergeCal b{
	display:none;
	height:0px;
}
.opp {
	display:none;
}
.week_cal_list {
	overflow-x: visible;
}
.week_cal {
	overflow-x: visible;
	overflow-y: visible;
	border: 1px solid #111;
	height:100%;
}
.week_cal_header{
	text-align:center;
	padding:0px 18px 0px 44px;
}
table.calendar td {
	/*border: 1px solid #FFFFFF;*/
}
table.calendar td.time div.time_label {
	border-right:1px solid black;
	background-color: black;
	color: #FFFFFF;
}
.monthly_day {
	border: 1px solid #111;
}
table.monthly_calendar {
	width:100%;
	border-spacing:0px;
}
table.cal_task {
	border-left:0px solid white;
	border-right:0px solid white;	
}
