html {
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif; 
	/*
	letter-spacing: 1px;
	font-size:0.7em;
	font-family: Arial, Helvetica, sans-serif;
	*/
	font-size: 0.72em;
	/*letter-spacing: .04em;*/
}

body {
	background-color: #545556;
	margin: 0px;
}

h1 {
	margin: 0;
	color: #333;
	font-size: 2em;
	font-weight: bold;
	text-indent: 20px;
	padding: 10px 0 0 0;
}

h2 {
	margin: 0;
	color: #333;
	font-size: 1.5em;
	font-weight: bold;
	text-indent: 30px;
	padding: 0 0 0 0;
}

#pagewrapper {
	border: 1px solid #000;
	border-top: 0px;
}

#header {
	background: #fff url(../images/jetstream_logo.jpg) 10px 7px no-repeat;
	height: 56px;
}

#header .info {
	float: right;
	padding: 10px 20px;
}

#contentwrapper {
	background: #e4e5e5 url(../images/vert_nav_stripe_tile_ny2.jpg) repeat-y
		right;
}

#container {
	float: left;
	width: 100%;
	margin-right: -294px;
}

#content {
	margin-right: 292px;
	color: #333;
	padding: 10px;
	padding-top: 0px;
}

#subnav {
	font-weight: bold;
	/*font-variant: small-caps;*/
	background-image: url(../images/horz_subnav_tile.jpg);
	background-repeat: repeat-x;
	padding: 0 20px 0 40px;
	line-height: 26px;
	margin: 0 -10px;
	/* Right & Left Margins must be content padding * -1 */
}

#subnav ul {
	margin: 0;
	padding: 0;
	display: inline;
}

#subnav ul li {
	margin: 0;
	display: inline;
	padding: 0 10px;
	border-left: 1px solid #FFF;
}

#subnav ul li.first {
	display: inline;
	padding-left: none;
	border-left: none;
}

#subnav ul li a {
	text-decoration: none;
	color: #fff;
}

#subnav ul li a:hover {
	color: #333;
	text-decoration: none;
}

/* Container for the sidebars */
#sidebar {
	width: 292px;
	float: right;
	background: url(../images/right_nav_top_14_ny.jpg) left 55px no-repeat;
	/* padding-top:25px; */
}

.clearing {
	height: 0;
	clear: both;
}

#footer {
	color: white;
	text-align: center;
	margin-top: 10px;
	padding-bottom: 20px;
	font-size: .9em;
}

.loading {
	border-top: solid 1px #666;
	border-bottom: solid 1px #666;
	text-align: center;
	background-color: #fff;
	padding: 20px;
	margin: 0 0 10px 2px;
}

.top_bar {
	color: white;
	text-align: right;
	margin-bottom: 4px;
}

.quicksearch {
	width: 200px;
	background: #E4E5E5;
	padding-left: 3px;
	margin: 0;
	border: 1px white solid;
}

.quicksearch_button {
	margin: 0 7px -3px 0;
	-margin: 0 7px -1px 0;
}

form {
	padding: 0;
	margin: 0;
}

input,select,textarea {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
}

input.exampleText {
	color: #aaa;
}

a {
	color: #0000A0;
	font-weight: bold;
	text-decoration: none;
	outline: none;
}

a:hover { /* color:#A00000; */
	text-decoration: underline;
}

a img {
	border: 0;
}

table {
	font-size: 1em;
}

div.busy {
	position: absolute;
	background: url(../images/spinner_bg.png) no-repeat;
	width: 51px;
	height: 51px;
	display: hidden;
}

div.busy div {
	height: 51px;
	background: url(../images/ajax-loader.gif) 10px 10px no-repeat;
}

/*************************** addition */
.clear { /* generic container (i.e. div) for floating buttons */
	overflow: hidden;
	width: 100%;
	text-align: right;
}

a.button {
	background: transparent url(../images/bg_button_a.gif) no-repeat scroll
		top right;
	color: #444;
	display: block;
	float: left;
	font: normal 11px arial, sans-serif;
	height: 24px;
	margin-right: 6px;
	padding-right: 18px; /* sliding doors padding */
	text-decoration: none;
}

a.button span {
	background: transparent url(../images/bg_button_span.gif) no-repeat;
	display: block;
	line-height: 14px;
	padding: 5px 0 5px 18px;
}

a.button:active {
	background-position: bottom right;
	color: #000;
	outline: none; /* hide dotted outline in Firefox */
}

a.button:active span {
	background-position: bottom left;
	padding: 6px 0 4px 18px; /* push text down 1px */
}

#note_alerts {
	font-size: 1.2em;
}

#note_alerts td {
	padding-right: 25px;
	margin-right: 15px;
}
#note_text {
	width: 98%;
	min-height: 75%;
	padding: 5px;
	margin-top: 10px;
	border: 1px solid #cacaca;
	font-size: 1.3em;
}
.subtitle {
	font-weight: bold;
}
.note_alert_table {
	width: 100%;
}

#all_users {
	display: inline;
	float: left;
	margin-left: 18px;
}

#all_users label {
    display: block;
    padding-left: 15px;
    text-indent: -15px;
    padding: 3px;
}
#all_users input {
    width: 13px;
    height: 13px;
    padding: 0;
    margin: 0px 3px 0px 0px;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}
#alert_pager_wrapper {
	float: right;
	width: 200px;
	text-align: right;
}
#alert_pager {
	list-style-type: none;
	display: inline-block;
	padding: 4px;
	margin: 0px;
}
#alert_pager li {
	display: inline;
	padding: 4px;
}
#alert_pager li a {
	font-size: 1em;
	color: red;
}
div.show {
	height: 100%;
}
div.hide {
	height: 100%;
	display: none;
}

#toggle_dashboard_search {
	position: relative;
	top: 3px;
	left: -3px;
	width: 16px;
	height: 16px;
}
/*Start Jet-27 */
.event_alerts{
	font-size: 1.1em !important;
	height: auto !important;
}
/*End Jet-27 */
