.event {
text-align: left;
border-collapse:collapse;
}

.event td, .event th {
text-align: left;
padding: 4px 10px;
}

.event td {
border: 1px solid #C1DAD7
}	

.event td.centered, .event th.centered {
text-align:center;
}
