.center {
	text-align:center;
	margin-left:auto; 
	margin-right:auto;
}

.color_picker { 
	width:50px; 
	height:20px; 
	float:left; border:1px solid black;
}

.color_div { 
	background-color:#999933; 
	position: absolute; 
	color:#FFFFFF
}
