.chromestyle{
width: 100%;
line-height:20px;
font-family: Verdana, Helvetica, Tahoma, Arial;
font-size: 8pt;
font-weight: bold;
color: rgb(0,0,0);
}

.chromestyle:after{ /*Add margin between menu and rest of content in Firefox*/
content: "."; 
display: block; 
height: 0; 
clear: both; 
visibility: hidden;
}

.chromestyle ul{
border: 1px solid #B5E2FE;
width: 100%;
background: url(../images/chromebg2.gif) center center repeat-x; 
padding: 4px 0;
margin: 0;
text-align: left; /*set value to "left", "center", or "right"*/
}

.chromestyle ul li{
display: inline;
}

.chromestyle ul li a{
color: #494949;
padding: 4px 10px;
margin: 0;
text-decoration: none;
border-right: 1px solid #B5E2FE; 
}

.greyMenuStyle{
color: grey;
padding: 4px 11.5px;
margin: 0;
text-decoration: none;
border-right: 1px solid #B5E2FE; 
}

.chromestyle ul li a:hoslipstreamer{
background: url(chromebg2-oslipstreamer.gif) center center repeat-x; /*THEME CHANGE HERE*/
}

.chromestyle ul li a[rel]:after{ /*HTML to indicate drop down link*/
/*content: " v";*/
/*content: " " url(downimage.gif); /*uncomment this line to use an image instead*/
}


/* ######### Style for Drop Down Menu ######### */

.dropmenudiv{
position:absolute;
top: 0;
border: 1px solid #B5E2FE; 
border-bottom-width: 0;
font:normal 10px Verdana;
line-height:18px;
z-index:100;
background-color: white;
width: 200px;
visibility: hidden;
filter: progid:DXImageTransform.Microsoft.Shadow(color=#CACACA,direction=135,strength=4); /*Add Shadow in IE. Remove if desired*/
}


.dropmenudiv a{
width: 100%;
display: block;
text-indent: 3px;
border-bottom: 1px solid #B5E2FE; 
padding: 2px 0;
text-decoration: none;
font-weight: bold;
color: black;
}

.dropmenudiv a:hover{ /*THEME CHANGE HERE*/
background-color: #EBF7FF;
}