table.minicalendar {
width:270px;
border-collapse:collapse;
}

table.minicalendar th {
	
}

table.minicalendar td {
padding:0;
vertical-align:top;
height:45px;
border:1px solid #CCDDEE;
width:12.5%;
font-size:.9em;
line-height:1em;
text-align:center;

}

.miniday {
padding:2px 4px 2px 4px;
margin:0px;
margin-bottom:2px;
text-align:right;
background:#E8EEF7;
font-size:.9em;
line-height:.9em;
font-weight:bold;
color:#0000A0;
}

table.minicalendar td.othermonth {
background: #ECEEF0;
}

table.minicalendar td.othermonth p {
color: #888;
}

table.minicalendar td.today {
background:#f7ec8b;
}

.minievent, .minipendingevent {
display:block;
margin-left:auto;
margin-right:auto;
border:1px solid #545556;
margin-bottom:1px;
height:6px;
font-size:6px; /* Establishes height for IE6 */
width:16px;
cursor:pointer;
}

.minipendingevent {
width:14px;
height:4px;
border:2px solid #AB3B3A;
-width:16px;
font-size:3px; /* Beats the crap out of me why IE6 wants it down by 3px - trial and error */
}

.minical_title {
font-size:1.2em;
line-height:1.2em;
text-align:center;
/*font-variant: small-caps;*/
margin-bottom:10px;
}

