.content_head_wrap {
	color: #333;
	padding-right: 9px;
	margin-top: 10px;
	margin-right: -9px;
	background: url(../images/shadow_top.jpg) right;
	background-repeat: no-repeat;
}

.content_head,.content_head_private,.content_head_inactive {
	margin-top: 10px; /* Remove to add shadows back in */
	border: solid 1px #000;
	border-bottom: 0px;
	padding-left: 20px;
	height: 45px;
	background: url(../images/table_hdr_tile.jpg) repeat-x;
}

.content_head_text {
	float: left;
	line-height: 43px;
	color: #fff;
	font-size: 1.3em;
	font-weight: bolder;
	/*font-variant: small-caps;*/
}

.content_head_icons {
	float: right;
	padding: 10px 20px 0 20px;
}

.content_head_icons a { /* color:#FFF; */
	line-height: 22px;
	text-decoration: underline;
}

.content_head_icons img {
	margin-left: 5px;
	border: 0;
}

.content_body_wrap {
	color: #333;
	padding-right: 9px;
	margin-right: -9px;
	background: url(../images/shadow_right.jpg) right;
	background-repeat: repeat-y;
}

.content_body {
	border: solid 1px #000;
	border-top: 0px;
	background-color: #fff;
	/* color: #4f6b72; */
	/* color: #333; */
	padding: 20px 30px;
	margin-bottom: 15px; /* Remove to add shadows back in */
}

.content_foot_wrap {
	padding-right: 9px;
	margin-right: -9px;
	height: 9px;
	background: url(../images/shadow_bottom_right.jpg) top right no-repeat;
}

.content_foot_left {
	height: 9px;
	background: url(../images/shadow_bottom_left.jpg) top left no-repeat;
}

.content_foot {
	height: 9px;
	background: url(../images/shadow_bottom.jpg) repeat-x;
}

.content_private .content_head {
	background: url(../images/table_hdr_tile_private.jpg) repeat-x;
}

.content_private .content_body {
	background-color: #dbd0e3;
}

.content_inactive .content_head {
	background: url(../images/table_hdr_tile_inactive.jpg) repeat-x;
}

.content_inactive .content_body {
	background-color: #DDD;
}
#divEventsList ul {
	padding-left: 10px;
}
#divEventsList li {
	margin-left: 10px;
}
