.module_menubar {
	vertical-align:bottom;
	border:1px red solid; 
		float:right;
/*	margin:20px 5px 0 0;*/

		padding:20px 5px 0 0;
}

/*** ESSENTIAL STYLES ***/
.sf-menu-module, .sf-menu-module * {
	margin:			0;
	padding:		0;
	list-style:		none;
}
.sf-menu-module {
	line-height:	1.0;
}
.sf-menu-module ul {
	position:		absolute;
	top:			-999em;
	width:			10em; /* left offset of submenus need to match (see below) */
}
.sf-menu-module ul li {
	width:			100%;
}
.sf-menu-module li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.sf-menu-module li {
	float:			left;
	position:		relative;
}
.sf-menu-module a {
	display:		block;
	position:		relative;
}
.sf-menu-module li:hover ul,
.sf-menu-module li.sfHover ul {
	left:			0;
	top:			2.5em; /* match top ul list item height */
	z-index:		99;
}
ul.sf-menu-module li:hover li ul,
ul.sf-menu-module li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu-module li li:hover ul,
ul.sf-menu-module li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}
ul.sf-menu-module li li:hover li ul,
ul.sf-menu-module li li.sfHover li ul {
	top:			-999em;
}
ul.sf-menu-module li li li:hover ul,
ul.sf-menu-module li li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}

/*** DEMO SKIN ***/
.sf-menu-module {
	float: right;
	margin:20px 5px 0 0;
}

.sf-menu-module a {
	/*border-left:	1px solid #fff; */
	/* border-top:		1px solid #CFDEFF;*/
	padding: 		6px 10px;
	text-decoration:none;
}
.sf-menu-module a, .sf-menu-module a:visited  { /* visited pseudo selector so IE6 applies text colour*/
	font-size: 1em;
	text-transform: uppercase;
	color:			#787C7C;
}

.sf-menu-module li {
	border: 1px #6C7386 solid;
	border-bottom: 0px;
	margin-left: 2px;
	background:	#E4E5E5; 
}

.sf-menu-module li.selected {
	background:	#FFF; 
	border-bottom: #FFF solid 1px;
}

.sf-menu-module li.selected a {
	color:#000;
}


.sf-menu-module li li {
	background:		#AABDE6; 
}
.sf-menu-module li li li {
	background:		#9AAEDB;
}
.sf-menu-module li:hover, .sf-menu-module li.sfHover,
.sf-menu-module a:focus, .sf-menu-module a:hover, .sf-menu-module a:active {
	background:		#FFF;
	color: #000;
	outline:		0;
}

/*** arrows **/
.sf-menu-module a.sf-with-ul {
	padding-right: 	2.25em;
	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator {
	position:		absolute;
	display:		block;
	right:			.75em;
	top:			1.05em; /* IE6 only */
	width:			10px;
	height:			10px;
	text-indent: 	-999em;
	overflow:		hidden;
	background:		url('../images/arrows-ffffff.png') no-repeat -10px -100px; /* 8-bit indexed alpha png. IE6 gets solid image only */
}
a > .sf-sub-indicator {  /* give all except IE6 the correct values */
	top:			.8em;
	background-position: 0 -100px; /* use translucent arrow for modern browsers*/
}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator {
	background-position: -10px -100px; /* arrow hovers for modern browsers*/
}

/* point right for anchors in subs */
.sf-menu-module ul .sf-sub-indicator { background-position:  -10px 0; }
.sf-menu-module ul a > .sf-sub-indicator { background-position:  0 0; }
/* apply hovers to modern browsers */
.sf-menu-module ul a:focus > .sf-sub-indicator,
.sf-menu-module ul a:hover > .sf-sub-indicator,
.sf-menu-module ul a:active > .sf-sub-indicator,
.sf-menu-module ul li:hover > a > .sf-sub-indicator,
.sf-menu-module ul li.sfHover > a > .sf-sub-indicator {
	background-position: -10px 0; /* arrow hovers for modern browsers*/
}
