.note p.body, .note_alt p.body {
	padding: 5px 10px;
}
.note {
	padding: 15px 0px;
}
.note_alt {
	margin: 0 -20px;
	background:#F4F5F6;
	padding: 15px 20px;
}
#spanPageLinkTop {
	display:none;
}
#spanPageLinkBottom {
	display:none;
}
#pageInfo {
	display:none;
}
#searchNotes {
	display:none;
}