.note {
	padding: 15px 20px;
	background: #FFF;
	margin: 8px 0px;
	border: 1px solid #999;
}

.note_alt {
	background: #FFF;
	padding: 15px 20px;
	border: 1px solid #999;
}

.note b,.note_alt b {
	color: #5c80a5;
	width: 85px;
	margin-left: 4px;
	display: block;
	float: left;
}
.right_sub {
	color: #5c80a5;
	padding: 2px 5px;
	margin-right: 10px;
	font-weight: bold;
}

.attachment_wrapper {
	border-top: 1px dashed #cacaca;
	white-space: nowrap;
	white-space: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	height: 55px;
}

.attachments {
	margin-top: 5px;
}

.attachments a {
	padding: 3px;
	margin-right: 3px;
	border: 1px solid #cacaca;
}

.attachment_img {
	float: left;
}
	
.attachment_links {
	display: inline-block;
	margin: 8px;
	padding: 2px;
}

h3.subject {
	font-size: 1.3em;
	margin-top: 0px;
}

.note p,.note_alt p {
	margin: 0 0 7px 0;
	padding: 0;
}

.note p.body,.note_alt p.body {
	font-size: 1.1em;
	border-top: 1px solid #cacaca;
	/* margin: 0 -11px; */
	padding: 10px;
}

.page {
	padding: 0px 3px;
	float: left;
	text-align: center;
}

a .page {
	text-decoration: none;
	font-size: 1.1em;
}

a:hover .page {
	background-color: #eee;
	padding: 0px 3px;
}

.pageImage {
	width: 15px;
	float: left;
	padding-left: 2px;
}

#noteListDiv {
/*
	margin-left:-10px;
	font-family: Verdana, Helvetica, Tahoma, Arial;
	font-size: 8pt;
	color: rgb(0,0,0);
	color:#1e1e1e;
	align:center;
*/
	
}

.note-list a { /*
		text-decoration: underline;
*/
	
}

#noteListDiv p { /*margin: 13px 0 0;*/
	
}

.leftframe { /*padding: 0 5px 0 5px;*/
	/*
		background: #fff;
	margin-left:0px;
	clear:both;
	*/
	
}

.note-list ol { /*margin:1.5em 0 0;*/
	padding: 0;
	list-style-type: none;
}

.note-list ol .body p {
	line-height: 1.5em;
	/*margin-left: 14px;*/
}

.attachment {
	border-top: 1px dotted #ccc;
	padding-top: 5px;
}

#noteListDiv .body blockquote {
	border: 0;
	border-left: 1px solid #ccc;
	padding: 0;
	font-style: italic;
}

.note-list strong.number {
	position: absolute;
	/*margin-left: -1.5em;*/
	margin-top: 0;
	font-size: 1em;
	font-family: Georgia, Helvetica, Arial;
	padding: 3px 5px;
	color: #333;
}

.note-list ol li {
	width: 92%;
	padding: 1px 20px 13px 20px;
	line-height: 1.6em;
	border: 1px solid #CDDFEF;
	background-color: #F3F7FB;
	-moz-border-radius: 5px;
	margin: 2em 0em 0 2em;
	position: relative;
}

.note-list ol .top {
	padding: 3px 15px 3px 10px;
	margin: 0px -19px 0 -20px;
	background-color: #E4ECF6;
	border-bottom: 2px solid #fff;
}

.note-list ol .top p,.note-list ol li.admin .top p {
	padding: 3px 15px 3px 22px;
	margin: 0px;
}

.note-list ol .top p {
	background: transparent url(../images/user_note.gif) no-repeat 0 8px;
}

.note-list .top {
	height: 36px;
	line-height: 30px;
}

.note-list .number {
	font: 11px Tahoma, Arial, Helvetica, sans-serif;
	position: absolute;
	font-weight: normal;
	width: 20px;
	text-align: center;
	left: -20px;
	margin: 8px 0 0;
}

.note-list li .body {
	padding-bottom: 5px;
}

.grav {
	position: absolute;
	top: 0;
	right: 0;
}

.filter-list {
	margin-top: 10px;
	style-border: 1px solid red;
}

.clsFilterBox {
	font-family: Arial, Helvetica, Verdana;
	width: 250px;
}
.clsRequire, .clsError {
	color: red;
}

#spn_delivery_error {
	margin: 10px;
}

#spn_delay_until_error {
	margin: 10px;
}

#spn_select_user_error {
	margin: 10px;
}


.list_header {
	font-style: italic;
	font-weight: bold;
}

ul.simple {
	margin-left: 0px;
	padding-left: 0px;
	overflow-y: auto;
	max-height: 200px;
}

ul.simple li {
	list-style-type: none;
}

div#add_alert {
	border: 1px solid #cde;
	-moz-border-radius: 15px;
	border-radius: 15px;
	display: none;
	padding: 10px;
}
.img_wrapper {
	padding: 2px 4px;
	margin-bottom: 5px;
}
.inputSection input[type="text"], textarea {
	resize: none;
	width: 100%;
}
.heavy {
	font-weight: bold;
	font-style: italic;
}
div.left {
	float: left;
	width: 50%;
}
div.right {
	text-align: right;
	width: 40%;
	float: right;
}
div.clear {
	clear: both;
}
.BlackBold {
	font-weight: bold;
}
#expand_alert {
	color: red;
}
div#pager {
	padding: 4px;
	margin: 4px 0px;
}
#spanPageLinkBottom {
	margin-top: 10px;
}

.highlight {
	background-color: yellow;
}

#loadingDiv {
	height: 23px;
	padding: 20px;
	margin: 20px 0px;
	display: none;
}

#loadingDiv img {
	width: 15px;
	height: 15px;
}

.title {
	font-size: 1.2em;
	font-weight: bold;
	margin: 2px 0px;
}
table.user_tree {
	border-collapse: collapse;
	border: 1px solid #cacaca;
	margin: 3px 10px;
}

table.user_tree tr td {
	border: 1px solid #cde;
	padding: 5px;
}

table.user_tree tr.header td {
	background-color: #e8eef7;
	text-align: center;
	padding: 0px;
}
table.user_tree tr.header td a {
	display: block;
	width: 100%;
}
table.user_tree tr.header td a:hover {
	background-color: #cde;
	text-decoration: none;
}

#label_private {
	display: block;
	margin-top:2px;
}
#label_note_alert {
	display: block;
	margin-top: 5px;
}

/* this will be moved to it's own file soon*/
.help_icon {
	display: block;
	margin-left: 10px;
	float: left;
}
h2.help_header {
	font-size: 1.3em;
	margin: 0px;
	padding: 0px;
	color: red;
	text-indent: 0px;
}

.context_help {
	margin: 10px;	
}
.emphasize {
	font-weight: bold;
}

/* end move */

.subtitle {
	margin: 10px 0px;
	font-size: 1.1em;
	font-weight: bold;
}
.links {
	margin-left: 10px;
}
.time_select {
	margin-left: 15px;
}

.delivery_methods, .timing {
	display: inline;
}
.delivery_methods input, .timing input {
	display: block;
	float: left;
	margin: 5px 0px 0px 5px;
}
.delivery_methods p, .timing p {
	float: left;
	padding: 0px 5px 0px 0px;
}
.delivery_methods label, .timing label {
	float: left;
	padding: 4px 5px;
}
.alert_options {
	margin: 0px 0px 20px 0px;
}

.alert_options p {
	margin-left: 10px;
}

#add_alert_wrapper {
	float: left;
}

table.navbar {
   border-collapse: collapse;
}
table.navbar td {
   border: 1px solid black;
}
table.navbar td a{
   display: block;
   width: 200px;
   padding: 3px;
   text-decoration: none;
}
table.navbar td a:link, table.navbar td a:visited {
   color: #FFF;
   background-color: #666666;
}
table.navbar td a:hover, table.navbar td a:active {
   color: #fff;
   background-color: #CCCCCC;
}

#saving {
	width: 100%;
	padding-top: 8px;
	text-align: center;
	display: none;
}

#save_note_buttons {
	text-align: center;
}
#saving {
	display: none;
}
#save_button_wrapper {
	display: inline;
}
#cancel_button_wrapper {
	display: inline;
}

.alert {
	float: left;
	padding: 2px 10px 2px 2px;
}
.alert_subject {
	color: red;
	padding-top: 10px;
}
.clear_left {
	height: 0px;
	clear: left;
}

#level_msg {
	display: none;
}

.delivery_methods label, .timing label {
    display: block;
    padding: 3px;
}
.delivery_methods input, .timing input {
    width: 13px;
    height: 13px;
    padding: 0;
    margin: 1px 4px 0px 0px;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    *overflow: hidden;
}
