.opp {
/* border:1px black solid; */
width:100%;
border-collapse:collapse;
margin:0 0 1px 0; /* 3rd value moves the opp below down */
border:1px gray solid;
}

.opp td.tl, .opp td.tc, .opp td.tr, .opp td.bl, .opp td.bc, .opp td.br {
margin:0;
padding:0;
vertical-align:top;
color:black;
font-size:9pt;
text-decoration:none;
}

.opp td.tl {
padding:3px 0 0 6px;
text-align:left;
}

.opp td.tc {
padding:3px 0 0 0;
text-align:center;
}

.opp td.tr {
padding:3px 10px 0 0;
text-align:right;
}

.opp td.bl {
height:6px;
}
