.opp {
	border: 1px solid #666;
	background-color: #FFF;
	margin: 0 10px 10px 0;
	padding: 5px;
}

.opp .caption {
	
}

.opp .info { /* margin-left: 20px; */
	
}

.opp_container {
	overflow: auto;
	height: 150px;
}

.actual_opp_prod {
	color: green;
	font-weight: bold;
	text-align: center !important;
	vertical-align: middle !important;
	width: 80px;
}

.evenrow {
	background-color: #FCF6CF; 
}

#opp_prod_info table td.label_center {
	text-align: center;
	color: #5C80A5;
	background: #E8EEF7;
	font-weight: bold;
}
#opp_prod_info table td.label_right {
	text-align: right;
	background: #E8EEF7;
	font-weight: bold;
}

#opp_prod_info table td.data_center {
	text-align: center;
}

h3.simple {
	margin-bottom: 0px;
	padding-bottom: 0px;
	font-size: 1.2em;
}

.subtitle {
	white-space: nowrap;
}

