.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	/*z-index:1000; */
	z-index: 80;
	cursor: default;
	margin: 0;
	padding: 0;
	border: 0;
	-moz-opacity: 0.8;
	opacity: .80;
	filter: alpha(opacity = 80);
	background: #545556;
}

.overlay_form {
	padding: 10px;
	/*z-index:1500;*/
	z-index: 90;
	display: block;
	background-color: #FFF;
	position: absolute;
	cursor: default;
	border: 2px solid #666;
}