/* Common styles for all page print. */
#pagewrapper {
	border: 1px solid #FFFFFF;
}
#header {
	display: none;
}
#footer {
	display: none;
}
#chromemenu {
	display: none;
}
#sidebar {
	display:none;
}
#content {
	width:100%;
}
#contentwrapper {
	border: 0px 0px 0px 0px;
	background-color: #FFFFFF;
}
#container {
	width:100%;
	margin-right:-292px;
	background-color: #e4e5e5;
}
#content {
	border: 0px 0px 0px 0px;
	width:100%;
	margin-right:292px;
	color: #333;
	font-size: 12px;
	padding: 0 0 0;
}
.content_head {
	background-color: #fff;
	border: 1px solid #FFFFFF;
}
.content_head_text {
	width:99%;
	background-color: #fff;
	border: 1px dashed #111;
	padding-left:10px;
}

.content_head_icons {
	display:none;
	background-color: #fff;
}
.content_body_wrap {
	padding-right:0px;
	margin-right:0px;
	border: 1px solid #FFFFFF;
}
.content_body {
	background-color: #fff;
	color: #333;
	font-size: 12px;
	padding: 20px 30px;
	border: 1px solid #FFFFFF; 
}

#subnav {
	display:none;
}