#dashboardsearch {
	background: #FFF;
}

#searchresults { /*height: 440px;
overflow:scroll;*/
	overflow-x: hidden;
	border: #DDD 1px solid;
	/* margin-left:-2px; Originally was to Offset the border for IE6,
					but was causing problem with table border */
	/*display:none;*/
}

.page {
	padding: 0 5px;
}

.pageImage {
	margin-bottom: -4px;
}

#searchresults tr {
	padding: 6px 0;
}

#searchresults td td.toggle { /* margin-bottom:-1px; */
	padding: 1px 10px 0 10px;
	float: left;
}

#searchresults tr.alt_row {
	background: #F4F5F6;
}

#searchresults tr.private {
	background: #dbd0e3;
}

#searchresults tr.inactive {
	background: #DDD;
}

#searchresults div {
	padding: 6px 0;
}

#searchresults div div.toggle { /* margin-bottom:-1px; */
	padding: 1px 10px 0 10px;
	float: left;
}

#searchresults div.alt_row {
	background: #F4F5F6;
}

#searchresults div.private {
	background: #dbd0e3;
}

#searchresults div.inactive {
	background: #DDD;
}

#searchresults a:link,#searchresults a:visited { /* color:#0000BF; */
	
}

#searchresults a:hover { /* color:#C80202; */
	
}

.contact_title,.company_title {
	float: left;
	font-weight: bold;
	padding-right: 10px;
	width: 70px;
}

.contact_title {
	color: #df6529;
}

.company_title {
	color: #8c8c8c;
}

/* The layout of the datagrid in the detail is pretty kludgy but it seems to work
it may be a good idea to go back and find a better solution */
.detail {
	padding: 0;
	margin: 0;
	display: none;
}

div.detail div.jet_datagrid {
	padding: 0;
	margin: 0;
	width: 97%;
}

div.detail div.jet_datagrid table {
	padding: 0;
	margin: 0 0 0 14px;
	width: 100%;
}

.spinner {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

form { /* padding: 0 0 10px 0;
margin: 0 0 0 0;
*/
	
}

div.detail table {
	margin-left: 20px;
}

div.detail table td.Label {
	color: #999;
}

div.detail table td.RLabel {
	color: #999;
	padding-left: 50px;
}

.clsFilterBox {
	font-family: Verdana, Helvetica, Tahoma, Arial;
	border: 1px solid #808080;
	font-size: 8pt;
	width: 250px;
}

.filter-list {
	margin-top: 10px;
	style-border: 1px solid red;
}

#search_div {
	display: inline;

}

#per_page {
	text-align: right;
	float: right;
}

#search_filters_checkboxes {
	display: inline;
}
#search_filters_checkboxes input {
	display: block;
	float: left;
}
#search_filters_checkboxes p {
	float: left;
	padding: 0px 5px 0px 0px;
}
#search_filters_checkboxes label {
	float: left;
	padding: 3px;
}

#merge {
	display: inline;
	text-align: right;
	float: right;
	height: 46px;
}
#merge input[type=checkbox] {
	clear: right;
	padding: 2px;
	float: right;
}

#merge p {
	clear: both;
	float: none;
}

#merge label {
	display: inline-block;
	padding: 3px;
}
#search {
}
