.module {
	border-bottom: solid 1px #666;
	border-top: 0px;
	background-color: #fff;
	color: #333;
	padding: 0px 10px 10px 10px;
	margin: 0 0 10px 2px;
}

.module_title {
	margin: 0 -10px 5px -10px;
	background-image: url(../images/right_nav_module_bar.jpg);
	background-repeat: repeat-x;
	height: 33px;
	padding-left: 15px;
}

.module_title_text {
	color: #fff;
	line-height: 28px;
	font-weight: bolder;
	font-size: 1.1em;
	/*
	font-variant: small-caps;
	padding-right: 15px;
	*/
	float: left;
}

.module_title_icons {
	float: right;
	padding: 5px 15px 0 0;
	border: 0;
}

.module_title_icons a {
	color: #FFF;
	line-height: 18px;
	text-decoration: underline;
}

.module_title_icons img {
	padding-left: 4px;
	border-width: 0;
}

.module_container {
	overflow: auto;
	overflow-x: auto;
	/*overflow-x:hidden;*/
	min-height: 16px;
	max-height: 270px;
	width: 100%;
	width: -17px;
	height: expression(this.scrollHeight <   16 ?   "16px" :   (( this.scrollHeight
		>   199) ?   "270px" :   "auto" ) );
	/* This is to set max/min height in IE6 */
}

.module_container_overflow {
	overflow-x: hidden;
	/*overflow-x:auto;*/
	min-height: 20px;
	height: expression(this.scrollHeight <   20 ?   "20px" :   "");
}

div#divContactList {
	
}


div#divContactList table {
	width: 100%;
	border-collapse:collapse;
	border-spacing: 1px;
	margin: 0px;
}

div#divContactList table td {
	margin: 0px;
	padding: 3px 3px;
	text-align: left;
	border: 1px solid #cde;
	vertical-align: top;
	background: #FFF;

}

div#divContactList table td.label {
	background-color: #e8eef7;
	width: 20%;
	color: #5c80a5;
	font-weight: bold;
	text-align: left;
}