#spreadsheet {
	text-align:center; font-size:24px;
}

.milestones { 
	background-color:#CCCC33;
}

.menu  {
	padding: 0px;
	margin: 0 2px; 
	cursor:pointer;
	float: left;
	position: relative;
	text-align: center; 	
}