#spreadsheet {
	text-align:center; font-size:24px;
}

.milestones { 
	/*background-color:#CCCC33;*/
	background-color: #99CC99; color:#000000;
}
.milestones a { 
	/*background-color:#CCCC33;*/
	color:#000000;
}

.menu  {
	padding: 0px;
	margin: 0 2px; 
	cursor:pointer;
	float: left;
	position: relative;
	text-align: center; 	
}

.menu em {
	background: url(../images/hover.png);
	/*background-color: #CCFF99;*/
	position: absolute;
	top: -300px;
	left: -100px;
	text-align: center;
	padding: 5px 5px 5px 5px;
	font-style: normal;
	z-index: 2;
	display: none;
	border:1px solid #FF9900;
}

.alert_r {
	background-color:#FF3300; color:#FFFFFF;
}

.alert_y { 
	background-color: #FFFF66; color: #000000;
}
