html,body {
font-family:"Lucida Sans Unicode",Tahoma,Verdana,"Lucida Grande",;
font-size:12;
font-size-adjust:none;
font-style:normal;
font-variant:normal;
font-weight:normal;
line-height:normal;
}
input{height:17px;}
.smlBlack
{
    font-family: Verdana, Helvetica, Tahoma, Arial;
    font-size: 8pt;
    color: rgb(0,0,0);
}

.formMainTable
{
  
    border: 1px solid rgb(181, 226, 254);
    min-width:1100px;
    width: expression(document.body.clientWidth < 1100? "1100px": "100%" );
}

.smlBlackBold
{
    font-family: Verdana, Helvetica, Tahoma, Arial;
    font-size: 8pt;
    font-weight: bold;
    color: rgb(0,0,0);
}

.smlRed
{
    font-family: Verdana, Helvetica, Tahoma, Arial;
    font-size: 8pt;
    color: rgb(255,0,0);
}

.smlRedBold
{
    font-family: Verdana, Helvetica, Tahoma, Arial;
    font-size: 8pt;
    font-weight: bold;
    color: rgb(255,0,0);
}

.smlGray
{
    font-family: Verdana, Helvetica, Tahoma, Arial;
    font-size: 8pt;
    color: rgb(128,128,128);
}

.smlLightBlue
{
    font-family: Verdana, Helvetica, Tahoma, Arial;
    font-size: 8pt;
    color: #193772;
}

.medBlack
{
    font-family: Verdana, Helvetica, Tahoma, Arial;
    font-size: 10pt;
    color: rgb(0,0,0);
}

.medBlackBold
{
    font-family: Verdana, Helvetica, Tahoma, Arial;
    font-size: 10pt;
    font-weight: bold;
    color: rgb(0,0,0);
}


.xlrgBlackBold
{
    font-family: Verdana, Helvetica, Tahoma, Arial;
    font-size: 14pt;
    font-weight: bold;
    color: rgb(0,0,0);
}

.tabLink
{
    font-family: Verdana, Helvetica, Tahoma, Arial;
    font-size: 8pt;
    color: rgb(0,0,0);
    text-decoration: none;
}
.tabLink:Hover
{
    font-family: Verdana, Helvetica, Tahoma, Arial;
    font-size: 8pt;
    color: rgb(0,00,0);
    text-decoration: underline;
}

.genLinks
{
    font-family: Verdana, Helvetica, Tahoma, Arial;
    font-size: 8pt;
    color: rgb(0,51,204);
    text-decoration: underline;
}
.genLinks:Hover
{
    font-family: Verdana, Helvetica, Tahoma, Arial;
    font-size: 8pt;
    color: rgb(0,51,204);
    text-decoration: underline;
}

.genLinksBold
{
    font-family: Verdana, Helvetica, Tahoma, Arial;
    font-size: 8pt;
    color: rgb(0,51,204);
    font-weight: bold;
    text-decoration: underline;
}
.genLinksBold:Hover
{
    font-family: Verdana, Helvetica, Tahoma, Arial;
    font-size: 8pt;
    color: rgb(0,51,204);
    font-weight: bold;
    text-decoration: underline;
}

.whiteLinksBold
{
    font-family: Verdana, Helvetica, Tahoma, Arial;
    font-size: 8pt;
    color: rgb(253,253,253);
    font-weight: bold;
    text-decoration: underline;
}
.whiteLinksBold:Hover
{
    font-family: Verdana, Helvetica, Tahoma, Arial;
    font-size: 8pt;
    color: rgb(253,253,253);
    font-weight: bold;
    text-decoration: underline;
}
.whiteLinks
{
    font-family: Verdana, Helvetica, Tahoma, Arial;
    font-size: 7pt;
    color: rgb(253,253,253);
    text-decoration: underline;
}
.whiteLinks:Hover
{
    font-family: Verdana, Helvetica, Tahoma, Arial;
    font-size: 7pt;
    color: rgb(253,253,253);
    text-decoration: underline;
}

.blueLinksBold
{
    font-family: Verdana, Helvetica, Tahoma, Arial;
    font-size: 8pt;
    color: rgb(0,51,204);
    font-weight: bold;
    text-decoration: none;
}
.blueLinksBold:Hover
{
    font-family: Verdana, Helvetica, Tahoma, Arial;
    font-size: 8pt;
    color: rgb(0,51,204);
    font-weight: bold;
    text-decoration: underline;
}
.Links
{
    font-family: Verdana, Helvetica, Tahoma, Arial;
    font-size: 8pt;
    color: rgb(0,51,204);
    font-weight: bold;
    text-decoration: none;
}
.Links:Hover
{
    font-family: Verdana, Helvetica, Tahoma, Arial;
    font-size: 8pt;
    color: rgb(0,51,204);
    font-weight: bold;
    text-decoration: none;
}


.clsTextBox
{
    font-family: Verdana, Helvetica, Tahoma, Arial;
    border: 1px solid #808080;
    font-size: 8pt;
}
.clsError
{
    font-family: Verdana, Helvetica, Tahoma, Arial;
    font-size: 8pt;
	color:red;
	font-weight:bold;
}
.clsErrors
{
    font-family: Verdana, Helvetica, Tahoma, Arial;
    font-size: 8pt;
	color:red;
	font-weight:bold;
}

.clsSplError
{
    font-family: Verdana, Helvetica, Tahoma, Arial;
    font-size: 7pt;
	color:red;
	font-weight:bold;
}

.clsSucc
{
    font-family: Verdana, Helvetica, Tahoma, Arial;
    font-size: 8pt;
	color:green;
	font-weight:bold;
}

.clsButton
{
    font-family: Verdana, Helvetica, Tahoma, Arial;
    font-size: 8pt;
    font-weight: bold;
    background-color: #CCEBFE;
    border: 1px solid rgb(181,226,254);
    cursor: hand;
}

.blueButton
{
    font-family: Geneva, Arial, Helvetica, Sans-Serif;
    font-size: 8pt;
    font-weight: bold;
    background-color: #035AA8;
    border: 1px solid #035AA8;
    cursor: hand;
    color: #FFFFFF;
}

.grayButton
{
    font-family: Verdana, Helvetica, Tahoma, Arial;
    font-size: 8pt;
    font-weight: bold;
    background-color: #ECE9D8;
    border: 1px solid rgb(236,233,216);
    cursor: hand;
}


.text{
font-family:Tahoma;
font-size:11px;
color:#000000;
}

.loginheader{
background:transparent url(../images/chromebg2.gif) repeat-x scroll center;
border:1px solid #B5E2FE;
margin:0pt;
padding:4px 0pt;
text-align:left;
width:100%;
}

.tblHeader
{
color:#FFFFFF;
font-family:"Lucida Grande","Lucida Sans Unicode",Tahoma,Verdana;
font-size:12px;
font-size-adjust:none;
font-style:normal;
font-variant:normal;
font-weight:bold;
line-height:normal;
padding:2px;
text-align:left;
white-space:nowrap;
}
.pagerbackground
{
background-image:url(/images/grid-blue-ft.gif) repeat-x;

text-align:center;
vertical-align:top;
white-space:nowrap;

}
#thumb {
position:relative;
height:50px;
width:12px;
background-color:#eee;
border:1px outset #eee;
}

.view{
display:none;	
}
.clsSelect{
font-family: Verdana, Helvetica, Tahoma, Arial;
border: 1px solid #808080;
font-size: 8pt;
width:200px;
position:absolute;
float: right;
}

.hour{
background-color:#035AA8;
font-family: Geneva, Arial, Helvetica, sans-serif;
font-size: 8pt;
font-weight: bold;
color: rgb(253,253,253);
}
form{
padding:0px;
margin:0px;
}


