/* tables */
table.tablesorter {
	font-family:arial;
	background-color: #8dbdd8;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;	
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 2px;
	text-align:center;
}
table.tablesorter thead tr .header {
	background-image: url(../images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
	padding-right: 15px;
}

table.tablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../images/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../images/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	background-color: #8dbdd8;
}

/* tables */
table.filetablesorter {
	font-family:arial;
	background-color: #8dbdd8;
	margin:10px 0pt 15px;
	font-size: 8pt;
	width: 90%;
	text-align: left;	
}
table.filetablesorter thead tr th, table.filetablesorter tfoot tr th {
	background-color: #e6EEEE;
	border: 1px solid #FFF;
	font-size: 8pt;
	padding: 2px;
	text-align:center;
}
table.filetablesorter thead tr .header {
	background-image: url(../images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
	padding-right: 15px;
}
table.filetablesorter tbody td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.filetablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}
table.filetablesorter thead tr .fileheaderSortUp {
	background-image: url(../images/asc.gif);
}
table.filetablesorter thead tr .fileheaderSortDown {
	background-image: url(../images/desc.gif);
}
table.filetablesorter thead tr .fileheaderSortDown, table.filetablesorter thead tr .fileheaderSortUp {
/* 	background-color: #8dbdd8; */
 	background-color: #E8EEF7; 
}

table.filetablesorter A {
	color: #333;
	text-decoration: none;
	padding: 0px 2px;
	font-weight:normal;
}

table.filetablesorter A:hover{
	background: #BDF;

}
