.menu2 {
float:left;
width:100%;
font-family: verdana, arial, sans-serif;
font-size:10px;
/*border-top:1px solid #c00;
border-bottom:1px solid #c00;*/
/* background:#ddd url(images/menu2.gif) repeat-x; */
background:url(../images/mpower_logo_header.png) left -64px no-repeat #5f6871;
margin:0 0 2px 0;
}

.menu2 ul {
padding:0;
margin:0;
list-style-type:none;
}

.menu2 ul li {
float:left;
position:relative;
margin-top:2px; 
z-index:100;
}

.menu2 ul li.group {
display:block;
text-indent:10px;
background:#666;
color:#ff0;
width:152px;
padding:4px 0;
}

.menu2 ul li a,
.menu2 ul li a:visited {
float:left;
display:block;
text-decoration:none;
color:#FFF; /* Font color on tabs */
padding:0 6px; /* Tab width */
border: 1px #A2ADB7 solid; /* Tab borders */
margin-left: 2px; /* Spacing between tabs */
line-height:18px; /* Tab height */
height:20px;
}

.menu2 ul li a.drop,
.menu2 ul li a.drop:visited  {
background-image:url(../images/down_arrow.gif);
background-repeat: no-repeat;
background-position: center right;
padding-right: 16px;
}

.menu2 ul li:hover {
width:auto;
}

.menu2 ul li a:hover {
/* background:#aaa url(images/sub2a.gif);
color:#c00; */
}


.menu2 ul li:hover a,
.menu2 ul li a:hover {
background-color: #A2ADB7; /* Hover background color */
color: #000;  /* Hover font color */
}

.menu2 ul li ul {
display: none;
}

.menu2 table {
margin:0;
border-collapse:collapse;
font-size:10px;
position:absolute;
top:0;
left:0;
}

/* keep the 'next' level invisible by placing it off screen. */
.menu2 iframe { border:0; position:absolute; left:-9999px; top:-9999px; width:0; height:0; margin:0; padding:0; list-style:none;}

.menu2 :hover iframe { filter:mask(); left:0; top:21px; width:174px; height:500px;}
/*.prodrop8 :hover iframe.two {left:0; top:35px; width:100px; height:65px;}*/


/* specific to non IE browsers */
.menu2 ul li:hover ul {
display:block;
position:absolute;
top:19px;
margin-left:2px;
background:#5F6871; /* Left trim on drop down? */
margin-top:1px;
left:0;
width:156px;  /* The width of the choices */
}

.menu2 ul li:hover ul.scroller {
height:300px;
width:172px;
overflow:auto;
}

.menu2 ul li:hover ul.endstop {
left:-90px;
}

.menu2 ul li:hover ul li ul {
display: none;
}

.menu2 ul li:hover ul li a,
.menu2 ul li a:hover ul {
background:#5F6871; /* Drop down menu color */
color:white; /* Drop down font color */
}

.menu2 ul li:hover ul li a {
display:block;
border: 0;
height:auto;
line-height:15px;
padding:4px 16px;
width:120px;
}

.menu2 ul li:hover ul li a.drop {
background:#888;
}


.menu2 ul li:hover ul li a:hover,
.menu2 ul li a:hover ul li a:hover {
color:#000;  /* Drop down selected font color */
background: #A2ADB7; /* Drop down selected menu color */
}

.menu2 ul li:hover ul li a:hover.drop {
background: #888;
color:#ff0;
}

.menu2 ul li:hover ul li:hover ul {
display:block;
position:absolute;
left:153px;
top:-70px;
color:#000;
left:152px;
height:138px;
width:172px;
overflow:auto;
background:#888;
}

.menu2 ul li:hover ul li:hover ul li a {
background:#888;
}

.menu2 ul li:hover ul li:hover ul li.group {
width:152px;
padding:5px 0;
}

.menu2 ul li:hover ul li:hover ul.left {
left:-172px;
}

.menu2 ul li:hover ul li:hover ul li a:hover {
background:#666;
color:#0ff;
}

/* specific to IE5.5 and IE6 browsers */
.menu2 ul li a:hover ul {
display:block;
position:absolute;
top:21px;
t\op:20px;
left:0;
marg\in-top:1px;
}

.menu2 ul li a:hover ul.scroller {
height:300px;
overflow:auto;
}

.menu2 ul li a:hover ul.endstop {
left: -90px;
}

.menu2 ul li a:hover ul li a {
border: 0;
display:block;
color:#fff;
height:1px;
line-height:15px;
padding:4px 16px;
width:152px;
w\idth:120px;
}

.menu2 ul li a:hover ul li a.drop {
background:#888;
padding-bottom:5px;
}

.menu2 ul li a:hover ul li a ul {
visibility:hidden;
position:absolute;
height:0;
width:0;
}

.menu2 ul li a:hover ul li a {
border: 0;
}

.menu2 ul li a:hover ul li a:hover {
background: #888;
color:#ff0;
}

.menu2 ul li a:hover ul li a:hover.drop {
background: #888;
color:#ff0;

}

.menu2 ul li a:hover ul li a:hover ul {
visibility:visible;
position:absolute;
top:-69px;
t\op:-70px;
color:#000;
left:152px;
height:138px;
width:170px;
overflow:auto;
background:#888;
}

.menu2 ul li a:hover ul li a:hover ul.left {
left:-170px;
}

.menu2 ul li a:hover ul li a:hover ul li a:hover {
background:#666;
color:#0ff;
}

.left {
clear:both;
}

#current {
color: #000;
background-color:#FFF;
border-bottom-color:#FFF;
}

.redalert {
background-color:#DD5835;
}
