.weekly_task
{
	font-size:1.1em;
	font-style:normal;
	text-align:left;
	text-decoration:none;
	z-index:99999;
	font-weight:normal;
}
.weekly_task a
{
	font-size:1em;
	font-style:normal;
	text-align:left;
	z-index:99999;
}
.task_list
{
	position:absolute;
	z-index:99998;
	width:270px;
	background:white;
	border:1px solid black;
	text-align:left;
	text-decoration:none;
	letter-spacing:1px;
}