.toolTipDiv {	
display:none;
position:absolute;    
z-index:1000; 
background-color:#ffffff;
}

.toolTipData {
position:absolute; 
z-index:1000; 
background-color:#ffffff;
border:1px solid #545556;
margin-left:-180px;
}

.toolTipHeader {
	border-bottom:1px solid #545556;
}

.toolTipHeader div {
	padding-left:3em;
	float:left;
}

.toolTipHeader img {
	float:right;
	right:2px;
	cursor:pointer;
}
 