
.month{
	width:100%;
	border:1px solid #ccc;
    /* margin:8px; */
    font-size: 10pt;
    color:#000;
    border-collapse:collapse;
}

.tdtable {
    border:1px solid #DDD;
    font-size: 8pt;
    color:#000;
    padding:3px;
    text-align:left;
    height:100px;
}

.thtable {
    padding:5px;
    border:1px solid #DDD;
    background-color: #909CB2;
    color:#fff;
    font-size: 12pt;
    font-weight: bold;
    height:100px;
}

.actday{
	background: #FFFFCC;
	border:1px solid #DDD;
    padding:3px;
    color:#000;
    font-weight:bold;
    font-size: 8pt;
    text-align:left;
}
.blankday{
    border:1px solid #DDD;
    padding:3px;
    background-color: #F2F2F2;
    font-weight:bold;
    font-size: 8pt;
    text-align:left;
}

.days{
    background-color:#D3D2DF;
    border:1px solid #DDD;
    font-size: 10pt;
	color:#000;
    font-weight:bold;
}

.weeks{
    background-color:#D3D2DF;
    border:1px solid #DDD;
    font-size: 10pt;
	color:#000;
    font-weight:bold;
    line-height:20px;
	padding:5px;
    width:1px;
}

.dateLinks
{
    font-size: 8pt;
    color: rgb(0,85,234);
    text-decoration: none;
}
.dateLinks:Hover
{
    font-size: 8pt;
    color: rgb(0,85,234);
    text-decoration: underline;
}

.activeDateLinks
{
    font-size: 8pt;
    color: rgb(0,85,234);
    text-decoration: none;
    font-weight:bold;
}
.activeDateLinks:Hover
{
    font-size: 8pt;
    color: rgb(0,85,234);
    text-decoration: underline;
    font-weight:bold;
}
.eventDiv {
	padding:1px;
	margin: auto;
	width: 8px;
	height: 5px;
	border: 1px solid #000033;
	background-color: #FFF;
}
