/* Add a margin - for this demo only - and a relative position with a high z-index to make it appear over any element below */
#menu_container {
/* margin:25px 0 100px 15px; */
float:left;
position:relative;
width:100%;
z-index:100;
background:url(../images/mpower_logo_header.png) left -85px no-repeat #5f6871;
margin-bottom:1px;
}

/* Get rid of the margin, padding and bullets in the unordered lists */
#pmenu, #pmenu ul {
padding:0;
margin:0;
list-style-type: none;
}

/* Set up the link size, color and borders */
#pmenu a, #pmenu a:visited {
display:block;
/* width:120px; */
font-weight:bold;
font-size:11px;
color:#fff;
/* height:25px; */
/* line-height:24px; */
text-decoration:none;
padding:0;
/* text-indent:5px; */
border: 1px #A2ADB7 solid;
padding: 5px 10px 5px 10px;
margin-left: 2px;
/* white-space:nowrap;
background:#7484ad; */
}

/* Set up the sub level borders */
#pmenu li ul li a, #pmenu li ul li a:visited {
border-width:0 1px 1px 1px;
}

#pmenu li a.enclose, #pmenu li a.enclose:visited {
border-width:1px;
}

/* Set up the list items */
#pmenu li {
float:left;
}

/* For Non-IE browsers and IE7 */
#pmenu li:hover {
position:relative;
}

/* Make the hovered list color persist */
#pmenu li:hover > a {
background: #A2ADB7;
color: #000;
}

/* Set up the sublevel lists with a position absolute for flyouts and overrun padding. The transparent gif is for IE to work */
#pmenu li ul {
display:none;
}

/* For Non-IE and IE7 make the sublevels visible on list hover. This is all it needs */
#pmenu li:hover > ul {
display:block;
position:absolute;
top:-11px;
left:80px;
padding:10px 30px 30px 30px;
/* background:transparent url(transparent.gif); */
width:120px;
}

/* Position the first sub level beneath the top level liinks */
#pmenu > li:hover > ul {
left:-30px;
top:16px;
}

#pmenu > li:hover > ul > li a {
background-color: #5F6871;
}

#pmenu > li:hover > ul > li:hover a {
background: #A2ADB7;
color: #000;
}


/* get rid of the table */
#pmenu table {
position:absolute;
border-collapse:collapse;
top:0;
left:0;
z-index:100;
font-size:1em;
}

* html #pmenu li a {
position:relative;
background: #5F6871;
color: #FFF;
}

/* For IE5.5 and IE6 give the hovered links a position relative and a change of background and foreground color. This is needed to trigger IE to show the sub levels */
* html #pmenu li a:hover {
position:relative;
background: #A2ADB7;
color: #000;
}

/* For accessibility of the top level menu when tabbing */
#pmenu li a:active, #pmenu li a:focus {
background: #A2ADB7;
color: #000;
}

/* Set up the pointers for the sub level indication */
#pmenu li.fly {
background:#7484ad url(http://www.cssplay.co.uk/menus/fly.gif) no-repeat right center;
}

#pmenu li.drop {
background:#7484ad url(http://www.cssplay.co.uk/menus/drop.gif) no-repeat right center;
}

/* This lot is for IE5.5 and IE6 ONLY and is necessary to make the sublevels appear */
/* change the drop down levels from display:none;
to visibility:hidden;
*/
* html #pmenu li ul {
visibility:hidden;
display:block;
position:absolute;
top:-11px;
left:80px;
padding:10px 30px 30px 30px;
background:transparent url(transparent.gif);
}

/* keep the third level+ hidden when you hover on first level link */
#pmenu li a:hover ul ul{
visibility:hidden;
}

/* keep the fourth level+ hidden when you hover on second level link */
#pmenu li a:hover ul a:hover ul ul{
visibility:hidden;
}

/* keep the fifth level hidden when you hover on third level link */
#pmenu li a:hover ul a:hover ul a:hover ul ul{
visibility:hidden;
}

/* keep the sixth level hidden when you hover on fourth level link */
#pmenu li a:hover ul a:hover ul a:hover ul a:hover ul ul {
visibility:hidden;
}

/* make the second level visible when hover on first level link and position it */
#pmenu li a:hover ul {
visibility:visible;
left:-30px;
top:14px;
lef\t:-31px;
to\p:15px;
}

/* make the third level visible when you hover over second level link and position it and all further levels */
#pmenu li a:hover ul a:hover ul{
visibility:visible;
top:-11px;
left:80px;
}

/* make the fourth level visible when you hover over third level link */
#pmenu li a:hover ul a:hover ul a:hover ul {
visibility:visible;
}

/* make the fifth level visible when you hover over fourth level link */
#pmenu li a:hover ul a:hover ul a:hover ul a:hover ul {
visibility:visible;
}

/* make the sixth level visible when you hover over fifth level link */
#pmenu li a:hover ul a:hover ul a:hover ul a:hover ul a:hover ul {
visibility:visible;
}

/* If you can see the pattern in the above IE5.5 and IE6 style then you can add as many sub levels as you like */

#pmenu a.current, #pmenu a.current:visited {
border-bottom-color: #FFF;
color: #000;
background-color:#FFF;
}
