<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<html lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
<title>M-Power</title>
<link rel="stylesheet" type="text/css" href="../css/sharedstyles.css,boardstyles.css">
<script language="JavaScript" src="../javascript/windowing.js,utils.js,category_labels.js,smartselect.js"></script>
<script language="JavaScript" src="../data/get_reports.php"></script>
<script language="JavaScript" src="../data/get_reports_company_xref.php"></script>

</head>

<body style="background-color:#949597" onload="onLoaded()">

<script language="JavaScript">
<!--

/*
Here are the rules for who can view what reports:
	1. Sales managers can view all reports, limited only by company settings (eg, if the company
		doesn't use valuations, then no valuation report is displayed).
	2. At their discretion, companies can make certain reports available to salespeople.  However, ASA decides
		which reports those are.  Hence the 'Salespeople' flag in the reports table.  The company administrator
		sets permissions for those reports in Admin--hence the xref table referenced in allowSalesView().

*/
g_company = window.opener.g_company;
g_the_only_company = g_company[0];

g_valuation_used = (g_the_only_company[g_company.ValuationUsed] == '1');
g_billing_used = (g_the_only_company[g_company.BillDateUsed] == '1');
g_source_used = (g_the_only_company[g_company.SourceUsed] == '1');
g_source2_used = (g_the_only_company[g_company.Source2Used] == '1');
g_viewExpectedBilling = g_billing_used && (g_the_only_company[g_company.ViewExpectedBilling] == '1');

//for category label stuff
g_isSales = window.opener.g_user[0][window.opener.g_people.Level] == '1';

window.onresize=positionSelect;

var ssReports = null;
function onLoaded()
{
	ssReports = new SmartSelect(document.getElementById('select_reports'), getReports(), 0, 1);
	ssReports.setListSize(4);
	ssReports.setEditFocus();
	ssReports.setSubmitBtn(document.getElementById('btnOK'));
}


function sortName(a, b)
{
	if(a[0] > b[0]) return 1;
	if (a[0] < b[0]) return -1;
	return 0;

}





function positionSelect()
{
	if (ssReports) ssReports.positionControls();
}

function ok()
{
	document.body.style.cursor = 'wait';
	if (!document.forms['form1'].elements.report) window.close();
	else
	{
		var which = ssReports.getSelectedVal();
		Windowing.openSizedWindow('../reports/' + which, window.opener.getWindowHeight(), 790, 'report');
	}
	document.body.style.cursor = 'auto';
}

function cancel()
{
	window.close();
}

// ---------------------------------------------------------------------------------------


function allowSalesView(data)
{
	var ret = 1;
	if(g_isSales)
	{
		ret = 0;
		if (data[g_reports.Salespeople] == '0') return 0;
		for (var i = 0; i < g_reports_company_xrefs.length; i++)
		{
			if(g_reports_company_xrefs[i][g_reports_company_xrefs.ReportID] == data[g_reports.ReportID])
				return (g_reports_company_xrefs[i][g_reports_company_xrefs.Salespeople] == '1');
		}
	}

	return ret;
}


function getReports()
{
	var ret = Array();
	var system_mode = get_cookie('system_mode');
	for (var i = 0; i < g_reports.length; ++i)
	{
		var data = g_reports[i];
		var nameRep = data[g_reports.Name];
		if(!g_valuation_used && -1 < nameRep.indexOf('Valuation'))
			continue;
		if(!g_source_used && nameRep == 'Source')
			continue;
		if(!g_source2_used && nameRep == 'Source2')
			continue;
		if(!g_billing_used && -1 < nameRep.indexOf('Billing'))	// can't see billing reports if no billing
			continue;
		if (g_isSales)
		{
			if (!(g_viewExpectedBilling && -1 < nameRep.indexOf('Billing')))
			{
				if(!allowSalesView(data))
					continue;
			}
		}
		if (-1 < nameRep.indexOf('Source2'))
			data[g_reports.Name] = g_the_only_company[g_company.Source2Label];
		if (data[g_reports.Develop] != 1 || system_mode == 'develop')
		{
			var tmp = Array();
			tmp[0] = data[g_reports.FileName];
			tmp[1] = substituteCategoryLabels(data[g_reports.Name]);
			tmp[1] = replaceAll(tmp[1], '{{Valuation}}', g_the_only_company[g_company.ValLabel]);
			tmp[1] = replaceAll(tmp[1], '{{Billing}}', g_the_only_company[g_company.BillDatePrompt]);
			if (data[g_reports.Develop] == 1)
				tmp[1] = '(dev) '+tmp[1];

			ret[ret.length] = tmp;
		}
	}

	ret.sort(function(a, b)
	{
		var sA = new String(a[1]).toUpperCase();
		var sB = new String(b[1]).toUpperCase();
		if(sA > sB) return 1;
		if(sA < sB) return -1;

		return 0;
	});

	return ret;

}

function onRepKeyUp()
{
	ssReports.autoFill(window.event);
}


function write_report_selection()
{
	if (g_reports.length)
	{
		document.writeln('<td nowrap height="23" width="25%" class="plabel" style="font-size:16; font-family:Arial; font-weight:bold">Report &nbsp;&nbsp;&nbsp;</td>');
		document.writeln('<td height="23" style="width:250px">');
		document.write('<input type="text" id="select_reports" name="report" style="width:100%" onKeyUp="onRepKeyUp();">');
		document.writeln('</td>');
	}
	else
	{
		document.writeln('<td colspan=2>');
		document.writeln('<p class="error">There are no reports available.</p>');
		document.writeln('</td>');
	}
}

// -->
</script>

<table border=0 height="100%" width="100%">
<tr>
	<td rowspan=4 width=45>&nbsp;</td>
</tr>
<tr>
	<td>
		<table border=0>
		<tr>
			<td><img src="../images/reports.gif" align="left"></td>
			<td class="title" valign="middle">Reports</td>
		</tr>
		</table>
	</td>
</tr>
<tr valign="top">
	<td>
		<form name="form1" style="width:100%">
		<table border=0>
		<tr>
			<script language="JavaScript">
			<!--
			write_report_selection();
			// -->
			</script>
		</tr>
		</table>
		</form>
	</td>
</tr>
<tr valign="bottom">
	<td align="right">
		<button type="submit" class="sized_command" id='btnOK' onclick="ok()">OK</button>
		&nbsp;
		<button type="button" class="sized_command" onclick="cancel()">Cancel</button>
	</td>
</tr>
</table>

</body>
</html>
