body {
	font-family: Arial;
	font-size: 10pt;
}

table.report .jr, table.sortable .jr {
	text-align: right;
}

table.report .jl, table.sortable .jl {
	text-align: left;
}

table.report, table.sortable {
	border-collapse: collapse;
	font-size: 8pt;
	border: 1px solid black;
}

table.report th, table.sortable th {
	font-weight:bold;
	background-color:#DDDDDD;
}

table.report .unused {
	background-color:#DDDDDD;
}

table.report td, table.sortable td, table.report th, table.sortable th {
	border:1px solid black;
	padding: 3px 7px 3px 7px;
	white-space: nowrap;
 	text-align: center;
 }

a.sortheader {
	text-decoration: none;
	color: black;
}

span.sortarrow {
	text-decoration: none;
}

table.report .ThickLeft {
	border-left:2px solid black;
}





TABLE.km {
}

TABLE.km TD {
	border:0px solid white;
	padding: 0px 0px 0px 0px;
}
