

.tooltip
{
position: absolute;
left: 0;
top: 0;
//width: 225px;
width: 300px;
height: 200px;
border: 4px solid blue;	//was 2px solid black
padding: 2px;
font-size: 5px;
font-family: arial, sans-serif;
//background-color: lightyellow;
background-color: blue;
color: white;
visibility: hidden;
z-index: 100;
/*Remove below line to remove shadow. Below line should always appear last within this CSS*/
filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135);
}

.tooltip_header
{
//border:	4px solid blue;
border: 0;
padding: 0;
background-color:  blue;
color:  white;
font-family: arial, sans-serif;
font-size: 12px;
}

.mstable
{
font-size: 10px;
background-color:#e6e6f0;
color:black;
}

.mstable th {
font-size: 11px;
background-color:white;
font-weight:bold;
}

.tooltip_simple
{
position: absolute;
left: 0;
top: 0;
border: 1px solid black;
padding: 2px;
font-size: 10px;
font-family: arial, sans-serif;
background-color: yellow;
color: black;
visibility: hidden;
z-index: 100;
}


