<div class="hidden_form" id='editContact'>
	<form method='post' action='ajax/ajax.CompanyContact.php?SN={$smarty.cookies.SN}' id='{$module->FormId}'>
		<fieldset>
		<div style="text-align:center;">Fields marked with <span class='clsError'>*</span> are mandatory.</div>
		{$module->DrawForm()}
		<div style="text-align:center;">
			<input type='submit' name='btnSaveContact' value='Save' id='btnSaveContact' />
			<input type='button' name='cancel' value='Cancel' onclick='javascript:$.unblockUI();' />
		</div>
		</fieldset>
	</form>
</div>
