<div id="closingEventNote" style="display:none">
	<form name="closeEvent" id="closeEvent" action="#">
	<center><span id="lblType">Event</span> Completion Notes<br/>
	<textarea name="closingNote" id="closingNote" cols="60" rows="8"></textarea><br />
	<span id="chkHolder"><input type="checkbox" name="followOnEvent" id="followOnEvent" value="true" />&nbsp;Create next event</span><br /><br />
	<input type="hidden" name="EventID" id="eventId" value="" />
	<input type="button" name="btnCancel" id="btnCancel" class='grayButton' value="Complete" onclick="javascript:submitCloseEvent();" />	
	<input type="button" name="btnCancel" id="btnCancel" class='grayButton' value="Cancel" onclick="javascript:cancelClosingFunct();" />	
	</center>						
	</form>
</div>