<form name="map" method="post">
	<div class="module_container_overflow" id="import">
		<p>There were no duplicate {$module->type} records found. Click "Next" to continue.<p>
		<input type="submit" value="Next >>" onclick="BusyOn()" />
	</div>
	<input type="hidden" name="step" value="{$module->step}" />
	<input type="hidden" name="type" value="{$module->type}" />
	<input type="hidden" name="csv" value="{$module->csv}" />
</form>