<div id="divEditor">
<form method="post" name="frmEditor">
	{$module->fck_editor->Create()}
<br/>	
<input type="button" id="btnSaveEditor" value="Save" onclick="javascript:document.frmEditor.submit();"/>
</form>
</div>