<div class="module_container">
	<select name="SortType" id="SortType" class="clsTextBox" style="width:150px;" onchange="javascript:performNoteSearch('1');">
	{html_options output=$module->sort values=$module->sort}
	</select>
	
	<select name="SortAs" id="SortAs" class="clsTextBox" onchange="javascript:performNoteSearch('1');">
		<option value="0">Ascending</option>	
		<option value="1">Descending</option>	
	</select>
</div>