<div class="module_container_overflow">
	<input type="checkbox" id="inactiveNote" name="inactiveNote" value="1" onclick="javascript:callNoteSearch();" /> Include Inactive
	<div id="filter1" class="filter-list">
		<div id="filterSelect1" class="filter-list">
		</div>
		<div id="filterText1" class="filter-list"></div><br />
	</div>
	<input type="hidden" name="filterIndex" id="filterIndex" value="1"> 
</div>
<script language="javascript">
	{$module->note_referer_js}
	{$module->filter_list}
	{$module->filter_list_val}
	{literal}
	var filterListArray = new Array();
	var filterListValArray = new Array();
	try	{			
		filterListArray = eval(filterList);
		filterListValArray = eval(filterListVal);
	}
	catch(e) {
		filterListArray = JSON.decode(filterList);
		filterListValArray = JSON.decode(filterListVal);
	}
	{/literal}	
</script>
