<form onsubmit="javascript:callNoteSearch();" id="NoteSearch" name="NoteSearch" method="post" action="#">
<div id="searchNotes">
	<div>
		<p>Search Notes Subjects and Text</p>
		<input type="text" name="Keyword" id="Keyword" size="40" class="clsTextBox" value="" style="margin-bottom:20px;">
		<input type="button" id="btn_notes_search" value="Search" />
		<span id="loadingDiv">
			<img src="./images/slipstream_spinner.gif" alt="Loading...." />
		</span>
	</div>
	<div id="noteDiv"></div>
</div>
</form>