<div id="noteSuccMsg" class='clsSucc' width="100%" align="center" style="display:none;">&nbsp;</div>
<span id="loadingDiv" style="display:none;"><img width="15" height="20" src="./images/slipstream_spinner.gif" alt="Loading...." /></span>
<div id="noteDiv">
	{include file="snippet_note_list.tpl"}
</div>
