<div >
<table>
	{foreach from=$menu key=script item=event}
		<tr >
			<td>
			{ if $event.javascript eq 'jetfileUpload' }
			<a href="javascript:{$event.javascript}('{$type}',{$id}, '{$category}', '{$cid}', '{$params}' )" class="jetmenu">{$event.Label}</a>
			{ elseif $event.javascript eq 'DownloadFile' }
			<a href="javascript:{$event.javascript}('{$type}',{$id}, '{$category}', '{$cid}' )" class="jetmenu">{$event.Label}</a>
			{else}
			<a href="javascript:{$event.javascript}('{$type}',{$id}, '{$category}', '{$cid}' )" class="jetmenu">{$event.Label}</a>			
			{/if}
			</td>
		</tr>
	{/foreach}
</table>
</div>
