<div>
	<table>
		<tr>
			<td>Select Contact Field :</td>
			<td>
				{*<select name="cbContactFields" id="cbContactFields">
						<option value=""></option>
						{html_options options=$module->contact_map}
				</select>*}				
				<select name="cbContactFields" id="cbContactFields">
					<option value=""></option>
					{foreach key=key item=values from=$module->contact_map}				
						<optgroup label="{$values.SectionName}">
							{foreach key=lkey item=item from=$values.Fields}
								<option value="{$item.FieldName}" sec_name="{$values.SectionName}">{$item.LabelName}</option>				
							{/foreach}
						</optgroup>
					{/foreach}
				</select>
			</td>
			<td><input type="button" value="Insert" onclick="javascript:InsertContactField();"/></td>			
		</tr>
	</table>	
</div>
<br/>
