<div id="divMerge" style="display:none;border:1px solid black;width:300px;">		
		<table border="0" width="300px;" align="center">
			<tr>
				<td id="cellMergeText" style="font-weight:bold;"></td>
			</tr>
			<tr>
				<td><select id="mergeList" name="mergeList" id="mergeList" size="5" style="width:100%"></select><br/><span id="spnErr" style="visibility:hidden"></span></td>
			</tr>
			<tr>
				<td style="text-align:center;">
					<input type="button" onclick="javascript:saveMergedList();" value="Save" id="btnSaveMergeList"/>&nbsp;<input type="button" onclick="javascript:closeMergedList();" value="Close" id="btnCloseMergeList"/>
					<input type="hidden" id="mergeType"/>
				</td>
			</tr>
		</table>
</div>