<div class="BlackBold">
	{if $module->contact_email_addresses}
		{*$module->contact_email_addresses|@print_r*}
		{foreach from=$module->contact_email_addresses key=key item=email_address}
			<p id="email_hold_{$key}">			
			<input type="checkbox" name="emailField[]" value="{$email_address.Value}" onClick="assignEmail(this, '{$key}')" relative="{$key}" size="30" maxlength="50">
			<span>{$email_address.Label}</span><span class="display_name">
			<input type="text" value="{$email_address.Value}" name="{$key}" id="{$key}" class="update_contact" size="30" maxlength="50"></span>
			</p>
		{/foreach}
		<input type="button" name="Update" id="Update" onClick="updateEmailAddress()" value="Update Record">
	{else}
		<div class="BlackBold">
			None found.
		</div>
	{/if}	
</div>