<div style="border:0px solid black">
<div class="BlackBold" id="emailaddress"></div>
<div class="BlackBold" style="border:0px solid black; width:50%; float:left">
	{if $module->contact_hint_list}		
		{foreach from=$module->contact_hint_list key=key item=contact name=emailaddresses}
			<p id="contact_{$key}">						
			<span class="display_name">
			<input type="radio" name="contact[]" onClick="getContactEmail(this.value, '{$contact.ContactName}({$contact.AccountName})')" value="{$contact.ContactID}" {*if $smarty.foreach.emailaddresses.first}checked{/if*}>
			{$contact.ContactName}<span class="email">({$contact.AccountName})</span></span>
			</p>
			
		{/foreach}
	{else}
	{/if}	
		<p>
		<span>
			<input type="radio" name="contact[]" onClick="getContactEmail(this.value, document.getElementById('Contact').value)" id="contact_search_radio" value="0"></span>
		<span>
			<input type="text" name="Contact" id="Contact" onClick="document.getElementById('contact_search_radio').checked=true;" size="30" maxlength="50">
		</span>
		</p>
		<input type="submit" value="cancel" onclick="javascript:CancelContactHintForm();">
</div>

<div id="contact_email_address" style="border:0px solid black; margin-left:50%;"></div>
</div>