<div id="event_alert_wrapper">
	<div class="img_wrapper">
		<div id="add_event_alert_wrapper">
			<input type="button" id="expand_event_alert" class='expand_event_alert' value="Add Note Alert" />
		</div>
		<!--div class="help_icon">
			<a href="javascript: void(0);" class="note_alert_help" rel="ajax/ajax.contextHelp.php">
				<img src="images/help_red.png" alt="What is this?" style="width: 24px; height: 24px;" />
			</a>
		</div-->
		<div class="clearing"></div>
	</div>
	<div class="form_error" id="err_Testing"></div>

	<div id="add_event_alert" style="display:none;">
        <?php include DIR_VIEW. 'event/event_alert.inc.tpl'; ?>
	</div>
</div>
