
/* Styles for command controls ********************************/

a:link { color: black; }
a:visited { color: black; }
a:hover { color: steelblue; }
a:active { color: steelblue; }

.command
{
	height: 25px;
	font-family: tahoma, arial, sans-serif;
	font-size: 12px;
	border-color: white dimgray dimgray white;
	background-color: #cacaca;
	background-image: url(../images/command.jpg);
	background-repeat: repeat-x;
	background-position: 50% 50%;
}

.etc-button
{
	height: 20px;
	width: 24px;
	font-family: tahoma, arial, sans-serif;
	font-size: 12px;
	border: none;
	border-color: white dimgray dimgray white;
	background-color: #cacaca;
	background-image: url(../images/etc-button.gif);
	background-repeat: repeat-x;
	background-position: 50% 50%;
}

.edit-button
{
	height: 20px;
	width: 35px;
	font-family: tahoma, arial, sans-serif;
	font-size: 12px;
	border: none;
	border-color: white dimgray dimgray white;
	background-color: #cacaca;
	background-image: url(../images/edop-editbutton.gif);
	background-repeat: repeat-x;
	background-position: 50% 50%;
}

.command_new
{
	height: 32px;
	border: none;
	font-family: tahoma, arial, sans-serif;
	font-size: 12px;
	background-color: #E7E7E8;
}

.sized_command
{
	width: 70px;
	height: 25px;
	font-family: tahoma, arial, sans-serif;
	font-size: 12px;
	border-color: white dimgray dimgray white;
	background-color: #cacaca;
	background-image: url(../images/command.jpg);
	background-repeat: repeat-x;
	background-position: 50% 50%;
}

.sized_command_new
{
	width: 60px;
	height: 22px;
	line-height: 20px;
	font-family: "arial narrow", arial, sans-serif;
	font-size: 11px;
	border: none;
	background-image: url(../images/button-grey60.gif);
	background-repeat: repeat-x;
	background-position: 50% 50%;
	text-align: center;
	white-space: nowrap;
	margin: 0 1px 0 1px;
	cursor: pointer;
}

.sized_command_new_gb
{
	width: 60px;
	height: 22px;
	font-family: "arial", arial, sans-serif;
	font-size: 12px;
	border: none;
	background-image: url(../images/button-grey60-gb.gif);
	background-repeat: repeat-x;
	background-position: 50% 50%;
}

.sized_command_new_gb_70
{
	width: 70px;
	height: 22px;
	font-family: "arial", arial, sans-serif;
	font-size: 12px;
	border: none;
	background-image: url(../images/button-grey70-gb.gif);
	background-repeat: repeat-x;
	background-position: 50% 50%;
}

.menu_button_l
{
	width: 3px;
	height: 22px;
	border: none;
}

.menu_button_m
{
	height: 22px;
	line-height: 20px;
	font-family: "arial narrow", arial, sans-serif;
	font-size: 11px;
	border: none;
	background-image: url(../images/button-grey-m.gif);
	background-repeat: repeat-x;
	background-position: 50% 50%;
	text-align: center;
	white-space: nowrap;
	padding-left: 5px;
	padding-right: 5px;
	cursor: pointer;
}

.menu_button_r
{
	width: 2px;
	height: 22px;
	border: none;
}

.sized_command_hl
{
	width: 70px;
	height: 25px;
	font-family: tahoma, arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	border-color: white maroon maroon white;
	background-color: red;
	background-repeat: repeat-x;
	background-position: 50% 50%;
	color: white;
}

.sized_command_hl_new
{
	width: 60px;
	height: 22px;
	line-height: 20px;
	font-family: arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	border: none;
	background-color: red;
	background-image: url(../images/button-red60.gif);
	background-repeat: repeat-x;
	background-position: 50% 50%;
	color: white;
	white-space: nowrap;
	text-align: center;
	margin: 0 1px 0 1px;
	cursor: pointer;
}

.sized_command_nogradient
{
	width: 70px;
	height: 25px;
	font-family: tahoma, arial, sans-serif;
	font-size: 12px;
	border-color: white dimgray dimgray white;
	background-color: #efefef;
	background-repeat: repeat-x;
	background-position: 50% 50%;
}

.sized_command_nogradient_new
{
	width: 60px;
	height: 22px;
	line-height: 20px;
	font-family: "arial narrow", sans-serif;
	font-size: 12px;
	border: none;
	background-color: #efefef;
	background-image: url(../images/button-grey60.gif);
	background-repeat: repeat-x;
	background-position: 50% 50%;
	white-space: nowrap;
	text-align: center;
	margin: 0 1px 0 1px;
	cursor: pointer;
}

.panel
{
	background-image: url(../images/edop-button.gif);
	text-align: center;
	font-weight: bold;
	color: white;
	cursor: pointer;
}

.panelgold
{
	background-image: url(../images/edop-buttongold.gif);
	text-align: center;
	font-weight: bold;
	color: white;
	cursor: pointer;
}

.panelgray
{
	background-image: url(../images/edop-buttongray.gif);
	text-align: center;
	font-weight: bold;
	color: white;
	cursor: pointer;
}

.panelblue
{
	background-image: url(../images/edop-buttonblue.gif);
	text-align: center;
	font-weight: bold;
	color: white;
	cursor: pointer;
}

.panelon
{
	background-image: url(../images/edop-buttonon.gif);
	text-align: center;
	font-weight: bold;
	cursor: pointer;
}

.panelmid
{
	background-image: url(../images/edop-buttonmid.gif);
	text-align: center;
	font-weight: bold;
	color: white;
	cursor: pointer;
}

.panelmidon
{
	background-image: url(../images/edop-buttonmidon.gif);
	text-align: center;
	font-weight: bold;
	cursor: pointer;
}

.panelsmall
{
	background-image: url(../images/edop-buttonsmall.gif);
	text-align: center;
	font-weight: bold;
	color: white;
	cursor: pointer;
}

.panelsmallon
{
	background-image: url(../images/edop-buttonsmallon.gif);
	text-align: center;
	font-weight: bold;
	color: white;
	cursor: pointer;
}


.raised
{
	border: 2px outset;
}

.raisedred
{
	border: 2px solid red;
}

.raisedtemp
{
	border-left: 2px inset white;
	border-top: 2px inset white;
	border-bottom: 2px inset black;
	border-right: 2px inset black;
}

.raised1
{
	border-left: 1px solid white;
	border-top: 1px solid white;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}

.raised1red
{
	border: 1px solid red;
}

.lowered
{
	border-left: 1px solid white;
	border-top: 1px solid white;
	border-bottom: 1px solid black;
	border-right: 1px solid black;
}

/* Styles for popup windows ***********************************/

.title
{
	font-family: verdana, arial, sans-serif;
	font-size: 14px;
}

.plabel
{
	font-family: arial, sans-serif;
	color: white;
	font-weight: bold;
	font-size:12pt;
}

.plabel-black
{
	font-family: arial, sans-serif;
	color: black;
	font-weight: bold;
}

/* Subclass of plabel, with font size, for edit opportunity window */
.plabel_eo
{
	font-family: verdana, arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	color: white;
}

.plabel-black_eo
{
	font-family: arial, sans-serif;
	color: black;
	font-weight: bold;
	font-size: 16px;
}

.plabel-black14
{
	font-family: arial, sans-serif;
	color: black;
	font-size: 14px;
}

.info
{
	font-family: arial, sans-serif;
}

.grid_header
{
	font-family: verdana, arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	background-color: #cacaca;
	background-image: url(../images/command_big.jpg);
	background-repeat: repeat-x;
	background-position: 50% 50%;
}

.grid_header_new
{
	font-family: verdana, arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	color: white;
	background-image: url(../images/grid-head-bk.jpg);
	background-repeat: repeat-x;
	background-position: 50% 50%;
}

.grid_header_red
{
	font-family: verdana, arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	color: white;
	background-image: url(../images/grid-red-bk.jpg);
	background-repeat: repeat-x;
	background-position: 50% 50%;
}

.grid_header_blue
{
	font-family: verdana, arial, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	color: white;
	background-image: url(../images/grid-blue-bk.jpg);
	background-repeat: repeat-x;
	background-position: 50% 50%;
}

.edop_header
{
	font-family: verdana, arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	color: white;
	background-image: url(../images/edophead-back.gif);
	background-repeat: repeat-x;
	background-position: 50% 50%;
}

.edop_middle
{
	font-family: verdana, arial, sans-serif;
	font-size: 11px;
	font-weight: bold;
	text-align: center;
	color: white;
	background-image: url(../images/edopmiddle-back.gif);
	background-repeat: repeat-x;
	background-position: 50% 50%;
}

.edop_mile
{
	font-family: verdana, arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	color: white;
	background-image: url(../images/edopmile-back.gif);
	background-repeat: repeat-x;
	background-position: 50% 50%;
}

.edop_mileon
{
	font-family: verdana, arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	color: white;
	background-image: url(../images/edopmileon-back.gif);
	background-repeat: repeat-x;
	background-position: 50% 50%;
}

.gradient
{
/*	background-color: white;
	background-image: url(../images/gradient.jpg);
	background-repeat: repeat-y;*/
}

.taglabel
{
	font-family: arial, sans-serif;
	color: white;
	font-weight: bold;
}

.taglabel_disabled
{
	font-family: arial, sans-serif;
	color: gray;
	font-weight: bold;
}

/* taglabel classes for editopportunity window*/
.taglabel_eo
{
	font-family: verdana, arial, sans-serif;
	color: white;
	font-weight: bold;
	font-size: 14px;
}

.taglabel_disabled_eo
{
	font-family: verdana, arial, sans-serif;
	color: gray;
	font-weight: bold;
	font-size: 14px;
}

/* Styles for the page header *********************************/

td.header_text
{
	text-align: left;
	font-family: verdana, arial, sans-serif;
	font-weight: bold;
	font-size: 12px;
	background-color: white;
}

td.header_table
{
	background: url(../images/header_bg.jpg);
}

td.header_top_left_cell
{
	background: url(../images/header_top_left.jpg);
	background-repeat: no-repeat;
}

td.header_bottom_left_cell
{
	background: url(../images/header_bottom_left.jpg);
	background-repeat: no-repeat;
}

td.header_right_cell
{
	background: url(../images/header_right.jpg);
	background-repeat: no-repeat;
}

/* Miscellaneous styles ***************************************/

.error
{
	font-family: tahoma, arial, helvetica, sans-serif;
	font-size: 14px;
	color: red;
	font-weight: bold;
}

.stalled_header
{
	font-family: verdana, arial, sans-serif;
	font-size: 14px;
	color: white;
	font-weight: bolder;
	text-align: center;
	background-color: #ff0000;
}

.notifier
{
	position: absolute;
	top: 0px;
	left: 0px;
	display: none;
	background-color: white;
	border: 2px solid black;
	height: 70px;
	width: 250px;
}

.saver1
{
	position: absolute;
	visibility: hidden;
	width: 10px;
	height: 10px;
	left: 0px;
	top: 0px;
	overflow:hidden;
}

.saver
{
	position: relative;
	visibility: visible;
	width: 100px;
	height: 100px;
	left: 0px;
	top: 0px;
	overflow:hidden;
}

.removed_default
{
	font-family: arial, sans-serif;
	font-size: 12px;
	background-color: white;
	color: black;
}

.removed_selected
{
	font-family: arial, sans-serif;
	font-size: 12px;
	background-color: navy;
	color: white;
}

/* Styles for milestones **************************************/

.milestone_no
{
	font-family: tahoma, sans-serif;
	font-size: 12px;
	color: black;
	cursor: pointer;
	text-align: center;
}

.milestone_yes
{
	font-family: tahoma, sans-serif;
	font-size: 12px;
	color: white;
	background-color: black;
	cursor: pointer;
	text-align: center;
}

.milestone_yes_small
{
	font-family: tahoma, sans-serif;
	font-size: 9px;
	font-weight: bold;
	color: white;
	background-color: black;
	text-align: center;
}

.milestone_no_small
{
	font-family: tahoma, sans-serif;
	font-size: 10px;
	color: black;
	text-align: center;
}

/* Calendar styles ********************************************/

.calendar_weekday
{
	background-color: white;
	border: 3px solid white;
	text-align: center;
	font-family: arial, sans-serif;
	font-weight: bold;
	font-size:12pt;
}

.calendar_weekend
{
	background-color: #ededf2;
	border: 3px solid #ededf2;
	text-align: center;
	font-family: arial, sans-serif;
	font-size:12pt;
}

.calendar_today
{
	/*background-color: #f0faf5;*/
	background-color: #ebedeb;
	text-align: center;
	font-family: arial, sans-serif;
	font-weight: bold;
	border: 3px solid gold;
	font-size:12pt;
}

.calendar_real_today
{
	/*background-color: #f0faf5;*/
	background-color: #bbbbff;
	text-align: center;
	font-family: arial, sans-serif;
	font-weight: bold;
	border: 3px solid #bbbbff;
	font-size:12pt;
}

.calendar_real_today_selected
{
	/*background-color: #f0faf5;*/
	background-color: #bbbbff;
	text-align: center;
	font-family: arial, sans-serif;
	font-weight: bold;
	border: 3px solid gold;
	font-size:12pt;
}

.calendar_daynames
{
	font-family: tahoma, sans-serif;
	background-color: lightyellow;
	text-align: center;
	font-size:10pt;
}

.calendar_top
{
	
}






