.TabbedPane_MainTable
{
	height: 100%;
	width: 100%;
}

.TabbedPane_RaisedTable
{
	height: 100%;
	width: 100%;
}

.TabbedPane_TabTable
{
	position: relative;
	left: 10px;
	top: 5px;
}

.TabbedPane_TabTR
{
	vertical-align: bottom;
	height: 30px;
}

.TabbedPane_TabImgTDSelected
{
	cursor: pointer;
	
	font-family: tahoma, arial, sans-serif;
	font-size: 12px;
	background-color: ivory;
	background-image: url(../images/tab_back.jpg);
	background-repeat: repeat-x;
	background-position: 50% 50%;
}

.TabbedPane_TabImgTDNotSelected
{
	cursor: pointer;
	
	border-bottom-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1;
	
	font-family: tahoma, arial, sans-serif;
	font-size: 12px;
	background-color: CACACA;
	background-image: url(../images/command_big.jpg);
	background-repeat: repeat-x;
	background-position: 50% 50%;
}

.TabbedPane_TabSelected
{
	border-top-color: black;
	border-top-style: solid;
	border-top-width: 1;
	
	border-right-color: black;
	border-right-style: solid;
	border-right-width: 1;
	
	padding-left: 7;
	padding-right: 10;
	
	cursor: pointer;
	
	font-family: tahoma, arial, sans-serif;
	font-size: 12px;
	background-color: ivory;
	background-image: url(../images/tab_back.jpg);
	background-repeat: repeat-x;
	background-position: 50% 50%;
}

.TabbedPane_TabNotSelected
{
	border-top-color: black;
	border-top-style: solid;
	border-top-width: 1;

	border-right-color: black;
	border-right-style: solid;
	border-right-width: 1;
	
	border-bottom-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1;
	
	padding-left: 7;
	padding-right: 10;
	
	cursor: pointer;
	
	font-family: tahoma, arial, sans-serif;
	font-size: 12px;
	background-color: CACACA;
	background-image: url(../images/command_big.jpg);
	background-repeat: repeat-x;
	background-position: 50% 50%;
}

.TabbedPane_FirstTabSelected
{
	border-top-color: black;
	border-top-style: solid;
	border-top-width: 1;
	
	border-right-color: black;
	border-right-style: solid;
	border-right-width: 1;
	
	padding-left: 7;
	padding-right: 10;
	
	cursor: pointer;
	
	font-family: tahoma, arial, sans-serif;
	font-size: 12px;
	background-color: ivory;
	background-image: url(../images/tab_back.jpg);
	background-repeat: repeat-x;
	background-position: 50% 50%;
}

.TabbedPane_FirstTabNotSelected
{
	border-top-color: black;
	border-top-style: solid;
	border-top-width: 1;

	border-right-color: black;
	border-right-style: solid;
	border-right-width: 1;
	
	border-bottom-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1;
	
	padding-left: 7;
	padding-right: 10;
	
	cursor: pointer;
	
	font-family: tahoma, arial, sans-serif;
	font-size: 12px;
	background-color: CACACA;
	background-image: url(../images/command_big.jpg);
	background-repeat: repeat-x;
	background-position: 50% 50%;
}

.TabbedPane_Content
{
	/*
	border-top-color: black;
	border-top-style: solid;
	border-top-width: 1;
	
	border-left-color: black;
	border-left-style: solid;
	border-left-width: 1;
	*/
	padding: 5px;
	background-color: ivory;
	
	width: 100%;
	height: 100%;
}

.TabbedPane_SourceDiv
{
	visibility: hidden;
	position: absolute;
	display: none;
}

.TabbedPane_IvoryBackground
{
	background-color: ivory;
}