.XPTTable
{
	
}

.XPTTitleNOBR
{
	cursor: pointer;
	/* padding-left: 3px; */
}

.XPTTitleNOBR_Selected
{
	cursor: pointer;
	/* padding-left: 3px; */
	background-color: 0A246A;
	color: white;
}

.XPTIconTD
{
	/*
	padding-left: 5px;
	padding-right: 5px;
	*/
}

.XPTControlImg
{
	position: relative;
	top: 4px;
	width: 16px;
	height: 13px;
}

.XPTIconImg
{
	cursor: pointer;
}

.XPTDragElement
{
	position: absolute;
}

.XPTPointerElem
{
	text-decoration: none;
}