@CHARSET "ISO-8859-1";

html {
	height: 100%;
	overflow: hidden;
}
body {
	margin-top: 10px; 
	padding: 0px; 
	height: 100%;
	font-family: 'Istok Web', sans-serif;
}
div#top {
	margin: 0 auto;
	width: 960px;
	height: 50px;
}
div#top h1 {
	font-size: 1.7em;
}

div.header_left {
	width: 500px;
	float: left;
}
div.header_right {
	width: 300px;
	float: right;
	text-align: right;
	height: 100%;
}

div.content {
	margin-top: 10px;
}

div.content_header {
	height: 100%;
}

div.content_header_left {
	width: 300px;
	float: left;
}
div.content_header_right {
	width: 300px;
	float: right;
	text-align: right;
	margin-top: 14px;
	height: 100%;
}
div.content_header_right a {
	color: #4169E1;
	text-decoration: none;
}

div.form_header {
	height: 100%;
}

div.form_header_left {
	width: 400px;
	float: left;
}
div.form_header_left h3 {
	padding: 0px;
	margin: 0px;
	text-align: left;
}

div.form_header_right {
	width: 20px;
	float: right;
	text-align: right;
	height: 100%;
}

div#wrapper {
	margin: 0 auto;
	width: 960px;
	height: 85%;
	border: 1px solid #999;
}
div#left {
	float: left;
	width: 230px;
	height: 100%;
	background: #ccc;
	padding: 0px;
	margin: 0px;
}
div#main {
	float: left;
	width: 680px;
	margin: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	font-size: .9em;
	overflow-y: auto;
	overflow-x: hidden;
	height: 90%;
}
div.clearfix {
	clear: both;
}
ul.menu {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
ul.menu li {
	display: block;
	position:relative;
	width: 230px;
	border-bottom: 1px solid #999;
	background: url('../images/menubg1.png');
	background-repeat-x: repeat;
	background-repeat-y: no-repeat;
	background-attachment: initial;
	background-position-x: 50%;
	background-position-y: 50%;
	background-origin: initial;
	background-clip: initial;

}
ul.menu li.inactive span a:hover {
	padding: 6px;
	color: #fff;
	background-color: #999;

}

ul.menu li span a {
	text-decoration: none;
	color: #000;
	padding: 6px;
	display: block;
}

ul.menu li.active:after{ /*arrow added to rightarrowdiv DIV*/
	content: '';
	display: block;
	position: absolute;
	top: 10px;
	left :100%; /*should be set to 100% */
	width: 0;
	height: 0;
	border-color: transparent transparent transparent #ccc; /*border color should be same as div div background color*/
	border-style: solid;
	border-width: 10px;
	background-repeat-x: repeat;
	background-repeat-y: no-repeat;
	background-attachment: initial;
	background-position-x: 50%;
	background-position-y: 50%;
	background-origin: initial;
	background-clip: initial;
	
}

table.data {
	border-collapse: collapse;
	width: 100%;
	margin-right: 5px;
}

table.data tr.header td {
	font-weight: bold;
	background: url('../images/menubg1.png');
	background-repeat-x: repeat;
	background-repeat-y: no-repeat;
	background-attachment: initial;
	background-position-x: 50%;
	background-position-y: 50%;
	background-origin: initial;
	background-clip: initial;
}

table.data tr td {
	padding: 3px;
	border: 1px solid #999;
}

table.data tr td.center {
	text-align: center;
}
table.data tr td.thin {
	text-align: center;
	width: 50px;
}

table.data tr td a.imap_account_link, a.edit_imap_account_link, a.edit_server {
	padding: 0px;
	display:block;
	color: #4169E1;
	height:100%;
	width:100%;
}

table.data tr td a:hover {
	background-color: #eee;
}

table.data tr td input[type=text].form, input[type=password].form {
	border: 1px solid #ccc;
	line-height: 1.1em;
	background-color: #fff;
	margin-left: 10px;
	width: 92%;
}

table.data tr td #server_select {
	border: 1px solid #ccc;
	line-height: 1.1em;
	background-color: #fff;
	margin-left: 10px;
	width: 92%;
}

table.data tr td.button {
	padding-top: 10px;
	text-align: center;
	border-right: 0px;
	border-left: 0px;
	border-bottom: 0px; 
}

table.data tr td.label {
	background-color: #ccc;
	padding: 5px;
	text-align: right;
}

table.data tr td.checkbox {
	text-align: left;
}

table.data tr td.checkbox input[type=checkbox]{
	margin-left: 10px;
}

table.data tr td.half {
	width: 50%;
}

table.data tr td.sixty {
	width: 60%;
}

table.data tr td.forty {
	width: 40%;
}

table.data tr td.light-yellow {
	width: 50%;
	background-color: #FFFFE0;
	font-weight: bold;
}

table.data tr td.light-blue {
	width: 50%;
	background-color: #E0FFFF;
	font-weight: bold;
}



#server_select a {
	color: #000;
}

h3 {
	margin: 10px 0px 0px 0px;
}
div#radio {
	float: right;
}

div#radio_wrapper {
	width: 100%;
}

div#disabled_msg {
	margin-top: 10px;
	float: left;
	display: none;
}

div#add_server {
	padding: 20px;
	text-align: left;
	display: none;
}
#add_server img.close {
	border: 1px solid #fff;
	width: 16px;
	height: 16px;
	float: right;
}

#add_server img.close:hover {
	border: 1px solid #666;
}

div#imap_account {
	padding: 20px;
	text-align: left;
	display: none;
}
#imap_account img.close {
	border: 1px solid #fff;
	width: 16px;
	height: 16px;
	float: right;
}

#imap_account img.close:hover {
	border: 1px solid #666;
}

#saving {
	width: 100%;
	padding-top: 8px;
	text-align: center;
	display: none;
}

#saving_account {
	width: 100%;
	padding-top: 8px;
	text-align: center;
	display: none;
}

h4 {
	font-style: italic;
	margin: 5px;
}

div#imap_account td input[type=text].error, input[type=password].error {
	border: 1px solid red;
	line-height: 1.1em;
	background-color: #fff;
	margin-left: 10px;
	width: 90%;
}

label.error {
	text-align: center;
	font-size: .85em;
	color: red;
	font-style: italic;
}

div.selectLabel {
	display: inline;
}

div.selectLabel select, option {
	width: 150px;
}
p.center {
	text-align: center;
}
.light {
	background: #eee;
}
.darker {
	background: #f8f8f8;
}

div#saving_reminder {
	display: none;
	text-align: center;
	padding: 10px;
}