<div style="text-align:center;margin-bottom:10px;">
	<a href="slipstream.php?action=daily&day={$module->previous}{if $module->target!=''}&target={$module->target}{/if}"><img src="images/left-arrow-blue.png"/></a><span style="margin:0 50px;font-size:1.4em;font-variant:small-caps;">{$module->display_date}</span><a href="slipstream.php?action=daily&day={$module->next}{if $module->target!=''}&target={$module->target}{/if}"><img src="images/right-arrow-blue.png"/></a> 
</div>

<div style="width:100%;">
	<table style="width:100%;border-left:44px solid white;border-right:18px solid white;*border-right-width:16px;">
		<tr>							
			<td style="width:14.3%;text-align:center;font-size:.9em;">
				<a href="#">{$module->today}</a>
			</td>
			
		</tr>
	</table>
</div>

<div style="overflow-x: hidden; overflow-y: scroll; height: 679px;" id="gridcontainer">
<table style="table-layout: fixed; min-width: 100%;" border="0" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			<td id="rowheadcell" style="width: 40px;">
			<div id="rowheaders" style="height: 144ex; top: 0pt; left: 0pt;">
		
			{foreach from=$module->hours key=key item=item}					
				<div class="rhead" style="height: 6ex; top: {$key*6}ex;">
				<div class="rheadtext">{$item}</div>
				</div>						
			{/foreach}			
			
			</div>
			</td>
			<td id="gridcontainercell" style="width: auto;">
			<div id="grid" class="grid" style="height: 144ex;">			
			
			{section name=hrule start=0 loop=147 step=3}				
				{if $smarty.section.hrule.index % 2 eq 0}							
					<div id="{$smarty.section.hrule.index|replace:".":"_"}" class="hrule hruleeven" style="top: {$smarty.section.hrule.index}ex; z-index: 1;"></div>
				{else}
					<div id="{$smarty.section.hrule.index-1.5|replace:".":"_"}" class="hrule hruleodd" style="top: {$smarty.section.hrule.index-1.5}ex; z-index: 1;"></div>
					<div id="{$smarty.section.hrule.index|replace:".":"_"}" class="hrule hruleodd" style="top: {$smarty.section.hrule.index}ex; z-index: 1;"></div>
					<div id="{$smarty.section.hrule.index+1.5|replace:".":"_"}" class="hrule hruleodd" style="top: {$smarty.section.hrule.index+1.5}ex; z-index: 1;"></div>
				{/if}			
			{/section}
			
			<div class="vrule gutter" id="c0" style="width: 1px; left: 0%; height: 144ex; z-index: 1;"></div>
			<div id="eventowner" style="z-index: 2;">			
			
			{foreach from=$module->events key=key item=item}
							
				<div class="chip" id="event-{$item.DivID}" style="cursor: pointer;position: absolute; top:{$item.StartHour*35.55}px; left: {$item.LeftPosition}%; width: {$item.Width}%; z-index:{$item.ZIndex}" onclick="javascript:location.href='slipstream.php?action=event&eventId={$key}&ref=daily'">
				<div class="t1" style="background-color: {$item.Color};">&nbsp;</div>
				<div class="t2" style="background-color: {$item.Color};">&nbsp;</div>			
				<div class="chipbody edit" style="background-color: {$item.BodyColor};">
				<dl id="body-event-{$item.DivID}" style="border-color: {$item.Color}; height:{$item.Duration*34.72}px;">
					<dt style="background-color: {$item.Color};"><b><span class="timelabel">{$item.TimeLabel}</span> </b></dt><dd>
					<div>
						{$item.EventName}<br>
						{$item.Date}<br>
						Contact: <a href="?action=contact&contactId={$item.ContactID}">{$item.Contact}</a><br>
						Company: <a href="?action=company&accountId={$item.AccountID}">{$item.CompanyName}</a><br>
						Subject: {$item.Subject}
					</div>					
				</dl>
				</div>
				<div class="b2" style="border-color: {$item.Color}; background-color: {$item.BodyColor};">&nbsp;</div>
				<div class="b1" style="background-color: {$item.Color};">&nbsp;</div>
				</div>
			{/foreach}			
			
			</div>
			</div>
			</td>
		</tr>
	</tbody>
</table>
</div>