.section_border 
{
	border: 1px #999 solid;
}
/*****add more styles for slipstream*******/

.smlBlack
{
    font-size: 8pt;
    color: rgb(0,0,0);
}
.miniBlack
{
    font-family: Verdana, Helvetica, Tahoma, Arial;
    font-size: 7pt;
    color: rgb(0,0,0);
}
.BlackBold
{
    font-size: 8pt;
    font-weight: bold;
    color: rgb(0,0,0);
}

.smlRed
{
    font-size: 8pt;
    color: rgb(255,0,0);
}

.smlRedBold
{
    font-size: 8pt;
    font-weight: bold;
    color: rgb(255,0,0);
}

.xlrgBlackBold
{
    font-size: 14pt;
    font-weight: bold;
    color: rgb(0,0,0);
}

.smlWhiteBold
{
    font-size: 8pt;
    font-weight: bold;
    color: rgb(253,253,253);
}

.clsRequire
{
    font-size: 8pt;
	color:red;
	font-weight:bold;
}

.clsError
{
    font-size: 8pt;
	color:red;
	font-weight:bold;
}
.clsErrors
{
    font-size: 8pt;
	color:red;
	font-weight:bold;
}

.clsSplError
{
    font-size: 7pt;
	color:red;
	font-weight:bold;
}

.clsSucc
{
    font-size: 8pt;
	color:green;
	font-weight:bold;
}

.view
{
display:none;	
}

.clsSelect{
border: 1px solid #808080;
font-size: 8pt;
width:200px;
position:absolute;
float: right;
}

.clsTextBox
{
    border: 1px solid #808080;
    font-size: 8pt;
}
.clsSelectBox
{
    border: 1px solid #808080;
    font-size: 8pt;
	width:30px;
}

.grayButton
{
    font-size: 8pt;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #525552;
    border: 2px solid #525552;
    cursor: pointer;
}

.lightgrayButton
{
    font-size: 8pt;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #C3C3C3;
    border: 2px solid #C3C3C3;
}

.genLinksBold
{
    font-size: 8pt;
    color: rgb(0,51,204);
    font-weight: bold;
    text-decoration: none;
}
.genLinksBold:Hover
{
    font-size: 8pt;
    color: rgb(0,51,204);
    font-weight: bold;
    text-decoration: underline;
}

.lrgBlackBold
{
    font-size: 20pt;
    color: rgb(0,0,0);
    font-weight: bold;
    text-decoration: none;
}
.lrgBlackBold:Hover
{
    font-size: 20pt;
    color: rgb(0,0,0);
    font-weight: bold;
    text-decoration: none;
}

.BlackLinks
{
    font-size: 10pt;
    color: rgb(0,0,0);
    font-weight: bold;
    text-decoration: none;
}
.BlackLinks:Hover
{
    font-size: 10pt;
    color: rgb(0,0,0);
    font-weight: bold;
    text-decoration: none;
}

.smlBlackLinks
{
    font-size: 8pt;
    color: rgb(0,0,0);
    text-decoration: none;
}
.smlBlackLinks:Hover
{
    font-size: 8pt;
    color: rgb(0,0,0);
    text-decoration: none;
}

.blueLinks
{
    font-size: 8pt;
    color: rgb(0,51,204);
    text-decoration: none;
}
.blueLinks:Hover
{
    font-size: 8pt;
    color: rgb(0,51,204);
    text-decoration: underline;
}

.blueLinksBold
{
    font-size: 8pt;
    color: rgb(0,51,204);
    font-weight: bold;
    text-decoration: none;
}
.blueLinksBold:Hover
{
    font-size: 8pt;
    color: rgb(0,51,204);
    font-weight: bold;
    text-decoration: underline;
}

.hour{
background-color:#96B6EA;
font-size: 8pt;
font-weight: bold;
color: rgb(253,253,253);
}

.whiteLinks
{
    font-size: 7pt;
    color: rgb(253,253,253);
    text-decoration: underline;
}
.whiteLinks:Hover
{
    font-size: 7pt;
    color: rgb(253,253,253);
    text-decoration: underline;
}
.blankCellHeight
{
    font-size: 6pt;
    color: rgb(0,0,0);
}
.label b{
	color: #899eb3;
}
