
ul.navMain {
position: relative;
padding:0;
display: block;
margin: 0px;
}

ul.navMain ul {
padding:0;
display: block;
margin: 0px;
display: none;
position: absolute;
}

ul.navMain li {
list-style-type: none; position: relative;
}

ul.navMain li a {
display: block;
text-decoration: none;
margin-left:2px;
}

ul.navMain li:hover ul {
display: block;
}

.navMainContainer {
float:left;
padding:0;
margin:0 0 1px 0;
text-align: left;
background:url(../images/mpower_logo_header.png) left -85px no-repeat #5f6871;
/* border-bottom: 1px solid #414244; */
width:100%;
}

.navMainContainer ul {
padding: 0;
margin: 0;
list-style-type: none;
background-color: transparent;
}

.navMainContainer ul.navMain {
margin-bottom: 0px;
}

.navMainContainer ul.navMain ul {
margin-top: 0px;
width: 160px;
}

.navMainContainer ul.navMain li ul li {
padding:0;
margin: 0;
}

.navMainContainer ul.navMain li ul li a {
padding: 5px 0.5em 5px 1.2em;
margin: 0;
height: auto;
background-color: #5F6871;
border:1px solid  #5F6871;
}

.navMainContainer ul.navMain li ul li a:hover {
background-color: #A2ADB7;
}

.navMainContainer ul.navMain li a {
font-size: .6em;
line-height: 1em;
font-family: verdana;
text-decoration: none
}

.navMainContainer li {
float: left;
padding: 0;
margin: 0;
}

.navMainContainer a {
padding: 6px 7px 7px 7px;
display: block;
}

.navMainContainer a:link, .navMainContainer a:visited {
color:#FFF;
/* background-color: #A2ADB7; */
border: 1px #A2ADB7 solid;
}

.navMainContainer a:hover {
background-color: #A2ADB7;
color: #000;
}

#current {
border-bottom-color: #FFF;
color: #000;
background-color:#FFF;
}


