BODY
{
	font-family: tahoma, arial, sans-serif;
	font-size: 12pt;
}

.SubGroup
{
	border-left-color: black;
	border-left-style: solid;
	border-left-width: 1;

	border-top-color: black;
	border-top-style: solid;
	border-top-width: 1;

	border-right-color: black;
	border-right-style: solid;
	border-right-width: 1;

	border-bottom-color: black;
	border-bottom-style: solid;
	border-bottom-width: 1;
}

.ColorDIV
{
	border-width: 1;
	border-style: solid;
	border-color: black;
	width:65px;
	height:25px;
	cursor:pointer;
}

.ButtonWithGradient
{
	font-family: tahoma, arial, sans-serif;
	font-size: 12px;
	background-color: CACACA;
	background-image: url(../shared/images/command.jpg);
	background-repeat: repeat-x;
	background-position: 50% 50%;
}

.MilestoneChecked
{
	background-color: dimgray;
}

.EditInfoSpan_Visible
{
	visibility: visible;
}

.EditInfoSpan_Hidden
{
	visibility: hidden;
	display: none;
	position: absolute;
}

.PoliteDiv_Visible
{
	visibility: visible;
	width: 100%;
}

.PoliteDiv_Hidden
{
	visibility: hidden;
	display: none;
	position: absolute;
	width: 100%;
}

.PeopleTree
{
	background-color: white;
	overflow: auto;
	width: 275px;
	height: 375px;
	border-width: 2;
	border-style: inset;
	border-color: buttonface;
	padding: 5px;
}

.PointerElem
{
	text-decoration: none;
}

.ProductSelect
{
	width: 400px;
}

.SourceSelect
{
	width: 400px;
}	
