
.smlBlackBold
{
    font-family: Verdana, Helvetica, Tahoma, Arial;
    font-size: 8pt;
    font-weight: bold;
    color: rgb(0,0,0);
}
.clsTextBox
{
    font-family: Verdana, Helvetica, Tahoma, Arial;
    border: 1px solid #808080;
    font-size: 8pt;
}
.event
{
	font: normal 11px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	color: #4f6b72;
	letter-spacing: 2px;	
	text-align: left;
	border-top: 0;
	border-left: 0px solid #C1DAD7;
	border-right: 0px solid #C1DAD7;
}
.event th
{
	font: bold 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;	
	letter-spacing: 2px;	
	text-align: left;
	padding: 4px 4px 4px 10px;
	border-top: 0;
	border-left: 0;
	border-right: 1px solid #C1DAD7;
}
.event td
{
	font: normal 12px "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;	
	letter-spacing: 2px;	
	text-align: left;
	padding: 4px 4px 4px 10px;
	border-top: 1px solid #C1DAD7;	
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-left: 1px solid #C1DAD7;
	
}
.leftcell
{
border-left: 1px solid #C1DAD7;
}