.meeting_cell
{
	font-family: Arial Narrow;
	font-size:14px;
	background-color: #EEEEEE;
}

.calendar_header
{
	font-family: Arial;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	color: black;
	background-color: lightblue;
}