//body{font: .75em Verdana, Helvetica, Tahoma, Arial; background: #FFFFFF; color: #333333}
div#container{margin:0 auto}
//h1{ color: #F60; margin: 1em 0 0; letter-spacing: -3px; }
//p{margin: 0 0 1.7em; }

/*---------- bubble tooltip -----------*/
a.tt{
    position:relative;
    z-index:24;
    color:#3CA3FF;
	//sfont-weight:bold;
    text-decoration:none;
}
a.tt div{ display: none; }

/*background:; ie hack, something must be changed in a for ie to execute it*/
a.tt:hover{ z-index:1000; color: #aaaaff; background:;}
a.tt:hover div.colorTip{
    display:block;
    position:absolute;
    top:0px; left:0;
	padding: 5px 0 0 0;
	color: #993300;
    text-align: left;
	filter: alpha(opacity:90);
	KHTMLOpacity: 0.90;
	MozOpacity: 0.90;
	opacity: 0.90;
}
a.tt:hover div.top{
	display: block;
	padding: 10px 8px 0;   
}
a.tt:hover div.middle{ /* different middle bg for stretch */
	display: block;
	padding: 3px;
	font-size: 10px;
	background: url(../images/bubble_filler.gif) repeat-y;
}
a.tt:hover div.bottom{
	display: block;
	padding:3px 8px 10px;
	color: #548912;
}