	.clsError
	{
		font-family: Verdana, Helvetica, Tahoma, Arial;
		font-size: 8pt;
		color:red;
		font-weight:bold;
	}
	.clsErrors
	{
		font-family: Verdana, Helvetica, Tahoma, Arial;
		font-size: 8pt;
		color:red;
		font-weight:bold;
	}


	.smlBlackBold
	{
		font-family: Verdana, Helvetica, Tahoma, Arial;
		font-size: 8pt;
		font-weight: bold;
		color: rgb(0,0,0);
	}

	.clsButton
	{
		font-family: Verdana, Helvetica, Tahoma, Arial;
		font-size: 8pt;
		font-weight: bold;
		background-color: #CCEBFE;
		border: 1px solid rgb(181,226,254);
		cursor: hand;
	}

	#heading{
		height:161px;
	}
		
	#totalFieldsDiv{	
		float:right;
		height:300px;
		width:250px;
		border:1px solid #FFF;
		padding:2px;
		visibility:hidden; 
	}
	
	.clsSection{	
		float:left;
		width:700px;
		padding:12px;
		visibility:hidden;
		border:1px solid #FFF;
		
	}
	
	#totalFieldsDiv .clsSectionSmallBox{	
		border:1px solid #000;
		width:200px;
		cursor:pointer;
	}
	
	.clsDragScriptContainer{	
		width: 96%;
		margin:0 auto;
		min-height:600px!important;
		height:auto !important; 
		height:600px;
		margin-top:0px;
		padding:3px;
		-moz-user-select:no;
		overflow: hidden;
	}
	
	h1{
		margin:5px;
	}

	#contactDragContent div{	/* Drag content div - i.e. specific answers when they are beeing dragged */
		border:1px solid #000;
	}
	
	#accountDragContent div{	/* Drag content div - i.e. specific answers when they are beeing dragged */
		border:1px solid #000;
	}
	
	#accountDragContainer .destinationBox{
		width:220px;
		height:22px;
		float:left;
	}
	
	#contactDragContainer .destinationBox{
		width:220px;
		height:22px;
		float:left;
	}
	
	#totalFieldsDiv div{
		width:173px;
		height:20px;
		line-height:20px;
		float:left;
		margin-right:15px;
		margin-bottom:2px;
		text-align:center;
	}
	
	.clsTotalDivSmallBox{	
		border:1px solid #000;
		cursor:pointer;
		width:200px;
		background-color:#E2EBED;	
	}
	
	.clsSectionSmallBox{	
		border:1px solid #000;
		cursor:pointer;
		width:220px;
		background-color:#E2EBED;
		height:20px;
		line-height:20px;
		float:left;
		margin-right:15px;
		margin-bottom:2px;
		text-align:center;
	}
	
	.dragContentOver{	/* Mouse over question boxes - i.e. indicating where dragged element will be appended if mouse button is relased */
		border:1px solid #F00;
		width:200px;
	}

	#totalFieldsDiv.dragContentOver{	/* Mouse over answer box - i.e. indicating where dragged element will be appended if mouse button is relased */
		border:1px solid #F00;
	}

	.clsDragContent{
		position:absolute;
		display:none;
	}
	p{
		margin:2px;
		font-size:0.9em;
	}
	#selectBoxResize fieldset select{margin:14px;}
	#selectBoxResize {margin-left:0px};
	.selectbox
	{
		behavior:expression(window.dropdown_menu_hack!=null?window.dropdown_menu_hack(this):0);
	}