.TableEx_MainTable
{
	width: 700px;
}

.TableEx_ContentTable
{
	width: 100%;
	font-size: 10.0pt;
}

.LittleTable
{
	font-size: 10.0pt;
}

.TableEx_HeaderTR
{

}

.TableEx_ContentTD
{

}

.TableEx_ContentDIV
{
	width: 100%;
	/* overflow: auto; */

	border-width: 2;
	border-color: buttonface;
}

.TableEx_HeaderSpan
{
	cursor: default;
	padding: 4px;
}

.TableEx_HeaderSpanForCheckbox
{
	cursor: default;
	padding: 2px;
}

.TableEx_HeaderTD
{
	cursor: default;
	border-color: buttonface;
	border-style: outset;
	border-width: 3;

	font-family: tahoma, arial, sans-serif;
	font-size: 12px;
	background-color: CACACA;
	background-image: url(../images/command.jpg);
	background-repeat: repeat-x;
	background-position: 50% 50%;
}

/*.TableEx_HeaderTDMouseOver
{
	cursor: default;
	border-color: buttonface;
	border-style: outset;
	border-width: 3;

	font-family: tahoma, arial, sans-serif;
	font-size: 12px;
	background-color: CACACA;
	background-image: url(../../shared/images/command.jpg);
	background-repeat: repeat-x;
	background-position: 50% 50%;
}*/

.TableEx_HeaderTDMouseDown
{
	cursor: default;
	border-color: buttonface;
	border-style: inset;
	border-width: 3;

	font-family: tahoma, arial, sans-serif;
	font-size: 12px;
	background-color: CACACA;
	background-image: url(../images/command.jpg);
	background-repeat: repeat-x;
	background-position: 50% 50%;
}

.TableEx_DataTR
{
	background-color: white;
}

.TableEx_DataSpan
{
	overflow: hidden;
}

.TableEx_DataSpanForCheckbox
{
	overflow: hidden;
}

.TableEx_DataTD
{
	padding: 5px;

	border-left-color: lightgrey;
	border-left-style: solid;
	border-left-width: 1;

	border-top-color: lightgrey;
	border-top-style: solid;
	border-top-width: 1;

	border-right-color: lightgrey;
	border-right-style: solid;
	border-right-width: 1;

	border-bottom-color: lightgrey;
	border-bottom-style: solid;
	border-bottom-width: 1;
}

.TableEx_ScrollButton
{
	background-color: buttonface;

	border-color: buttonface;
	border-style: outset;
	border-width: 2;
}

.TableEx_ScrollButtonMouseDown
{
	background-color: buttonface;

	border-color: buttonface;
	border-style: inset;
	border-width: 2;
}

.TableEx_EditBox
{
	width: 100%;
	height: 100%;
}

.TableEx_CheckBox
{

}

.TableEx_PopupMenu
{
	position: absolute;
	width: 100%;
	height: 100px;
	border-style: solid;
	border-width: 1;
	border-color: green;
}

.TableEx_ColorBox
{
	width: 10px;
	height: 10px;

	border-style: solid;
	border-width: 1;
	border-color: black;

	overflow: hidden;
}

.TableEx_ColorBoxText
{
	padding-left: 3px;
}

.TableEx_Button
{
	background-color: CACACA;
	background-image: url(../images/command.jpg);
	background-repeat: repeat-x;
	background-position: 50% 50%;
	width: 100px;
	margin: 1px;
}

.TableEx_ButtonTable
{
	padding-left: 5px;
}

.TableEx_DateCell
{
	cursor: pointer;
}

.TableEx_ButtonHeaderTD
{
	cursor: default;
	border-color: buttonface;
	border-style: outset;
	border-width: 3;

	font-family: tahoma, arial, sans-serif;
	font-size: 12px;
	background-color: CACACA;
	background-image: url(../images/command.jpg);
	background-repeat: repeat-x;
	background-position: 50% 50%;
}

.TableEx_ButtonHeaderSpan
{
	cursor: default;
	padding: 2px;
}

.TableEx_EditButtonTD
{
	cursor: pointer;
	padding: 5px;

	border-left-color: lightgrey;
	border-left-style: solid;
	border-left-width: 1;

	border-top-color: lightgrey;
	border-top-style: solid;
	border-top-width: 1;

	border-right-color: lightgrey;
	border-right-style: solid;
	border-right-width: 1;

	border-bottom-color: lightgrey;
	border-bottom-style: solid;
	border-bottom-width: 1;
}

.TableEx_EditButton
{
	cursor: pointer;
	width: 16px;
	height: 16px;
}
