<form method="post" name="frmEvent" id="frmEvent" action="./ajax/ajax.addevent.php">
<table border='0' cellpadding='0' cellspacing='0' width='600' id='tblAddEvent' style='{if $smarty.get.sec && $smarty.get.sec==addevent}display:block;{else}display:none;{/if}border: 1px solid rgb(181, 226, 254);' >	
	<tr>
		<td width='100%' colspan='3'>
			<table border='0' cellspacing='0' cellpadding='0'>
				<tr>
					<td width='14px' style='background-image:url(images/headerleft.gif);background-repeat: no-repeat;' >				
					<td width='586'style='background-image:url(images/headerbg.gif);'  align='left' class='tblHeader'><span id='frmAddHeader'>Add Event</span></td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td width='20%' align='right' class='smlBlackBold' height='40'><span class="clsError">*</span>Event Name:</td>
		<td width='1%'></td>
		<td ><input id='EventName' name='EventName' type='text' class='clsTextBox' size='30'/><br/><span class='clsError  error' id='spn_EventName'></span></td>
		
	</tr>
	<tr>
		<td valign="top" width='20%' align='right' class='smlBlackBold' height='40'><span class="clsError">*</span>Event Color:</td>
		<td width='1%'></td>
		<td  width="84%" nowrap="nowrap" valign="middle">
		<table>
			<tr>
				<td valign="top">
					<input readonly="readonly" id='EventColor' maxlength='50' name='EventColor' type='text' class='clsTextBox' size='30' onkeydown="javascript: changeDivColor(this.value);"/>
					<br/><span class='clsError error' id='spn_EventColor'></span>
				</td>
				<td valign="top">
					<div id="colorSelector"><div></div></div>
				</td>
			</tr>
		</table>
		</td>
	</tr>	
	<tr>
		<td width='15%'></td>
		<td width='1%'></td>
		<td>
		<input type='submit' name='btnSubmit' id='btnSubmit' value='Submit'  class='clsButton' />&nbsp;
		<input type='button' value='Cancel' class='clsButton' onclick="javascript:window.location='?action=event'"/>
		<input type="hidden" name="EventTypeID" id="EventTypeID"/>
		</td>
	</tr>
</table>
</form>
