	<div>
	<table border='0' cellpadding='5' cellspacing='0' align='center' width='99%' bgcolor='#FFFFFF'>
		<tr bgcolor='#FFFFFF' height='10'>
			<td colspan='2' align='center' style='border: 1px solid #B5E2FE;'><font class='text'>Slipstream is a trademark of ASA Sales Systems, LLC.</font></td>
		</tr>
	</table>
	</div>
</body>
</html>
