body {
font-size: 62.5%;
font-family: Helvetica, Arial, Tahoma, Geneva, Verdana, sans-serif;
margin: 0;
padding: 0;
text-align: center;
background-color: #FFF;
color: #666;
}
	
#content-fullcol h1 {
font-size: 3.2em;
color: #367E29;
margin: 0;
padding: 0 0 8px 0;
font-weight: normal;
}	

#content-fullcol p {
font-size: 1.2em;
line-height: 1.25em;
color: #666;
margin: 0;
padding: 0 0 10px 0;
}

#container-mid {
margin: 0 auto; 
width: 879px;
padding: 0 15px 0 0; 
text-align: left;
}	

#content-wrapper {
	padding: 100px 15px 30px 15px;
}
