#calendar {
margin:0 5px;
}

#calendar .cal_day {
border:1px gray solid;
border-spacing:20px;
height:100px;
width:20%;
vertical-align:top;
padding:5px;
}

.day_label {
background:#8794a1;
color:white;
text-align:center;
padding:5px;
margin:-5px -5px 5px -5px;
}

.appointment {
clear:both;
text-align:center;
padding:5px 0;
margin:5px;
vertical-align:middle;
border:1px solid #8794a1;
}

.appt_person {
border:2px gray solid;
background:black;
color:white;
float:left;
font-weight:bold;
margin:0 10px 0 0;
padding:1px 3px;
}

.conflict {
border:2px red solid;
}

.opp_cal td.tl {
width:1px;
}

.opp_cal td.tr {
text-align:left;
}

.date_picker {
margin: 20px 0 5px 0;
text-align:center;
}

.date_picker select {
font-size:1.2em;
}

.opp {
border-width: 1px;
}