table.dash {
border-collapse:collapse;
margin:0;
padding:0;
width:1px;
}

table.dash td.dash {
vertical-align:top;
margin:0;
padding:0;
}		

table.dash td.dash_i {
/* border:1px black solid; */
border-collapse:collapse;
vertical-align:top;
margin:0;
padding:0 1px 0 0; /* 2nd spreads the opps to the right */
}		

.opp_h {
background-color: #8794A1;
}

.opp_h td.tl {
color:white;
letter-spacing:1px;
font-size:1.1em;
text-decoration:none;
line-height:1;
height:44px;
padding:5px 0 0 6px;
text-align:center;
vertical-align:middle;
}

.opp_h td.tr {
width:6px;
padding: 0;
}

.opp_h td.bl {
padding: 0;
}

.opp_h td.br {
padding: 0;
}

.stalled_hdr {
background-color: #DD5835;
}


.opp_dtl td.tl {
padding:5px 0 0 5px;
height:25px;
}

.opp_dtl td.tr {
padding:5px 9px 0 0;
white-space:nowrap;
}

.opp_grp td.tl {
padding:0 0 0 4px;
height:25px;
}

.opp_grp td.tr {
padding:0;
width:7px;
}

.dash_alert td.tl {
background-position:left -168px;
}

.dash_alert td.tr {
background-position:right -168px;
}

.dash_alert td.bl {
background-position:left -414px;
}

.dash_alert td.br {
background-position:right -414px;
}

td.divider {
background:url(../images/gray_dot.png) 2px repeat-y;
}

table.milestone {
border-collapse:collapse;
margin:4px 0 0 0 ;
padding:0;
width:100%;
}

.opp_dtl table.milestone {
width:66px;
}

table.milestone td {
padding:0;
border:1px solid black;
height:8px;
width:3em; /* This needs to be larger than 1em or IE won't size the image to fill the milestone. Grr! */
}

table.milestone td span {
display:none;
}

table.milestone td.msc {
background-color:#5B5B5B;
}

table.milestone td.alert_y {
background-color:yellow;
}

table.milestone td.alert_r {
background-color:red;
}

div.trans {
text-align:center;
text-decoration:none;
color:black;
font-family:"Arial Black",Arial,Sans-Serif;
font-size:0.9em;
margin: 2px 0px -2px 0px;
line-height:12px;
}

div.colcount {
padding:0;
margin:0;
font-size:10px;
text-align:center;
line-height:12px;
veritcal-align:top;
}
