
	
.dark_liner_top {
	border-top: 2px solid black;
}

.dark_liner_right {
	border-top: 2px solid black;
}


#faheader {
	text-align:center;
	font-size:24px;
	font-weight:bold;
}

.green { 
	color:#006600;
}

.monthly_quota { 
	color: #006600;
}

.quaterly_total_sales {
	color: #0000FF;
}

table {
	font-size:12px;
}


.fablue {
	color:#0000FF;
}

.facaption {
	text-align:left;
}

.fabold {
	color: #996699;
	font-size:14px; 
	font-weight:400;
}

.fared { 
	color:#FF3300; text-align:right;
}

.bleft { 
	border-left:1px solid gray;
}
.bright { 
	border-right:1px solid gray;
}
.btop { 
	border-top:1px solid gray;
}

.bbottom { 
	border-bottom:1px solid gray;
}

.fagpf { 
	background-color:#999999; 
	border-left:1px solid gray; 
	border-right:1px solid gray;
}

.fathead {
	background-color:#CCFFCC; font-weight:bold;
	
}

table.fasales {
	border-collapse:collapse;
}

table.fasales td {
	border: 1px solid gray;
	text-align:center;
}

table td.falefttd {
	border-left:1px solid white;
	border-top:1px solid white;
	border-bottom:1px solid white;
}

input {
	background-color:#FFFFCC;
}

.edit { cursor:pointer; font-size:12px;width:40px}

#sales_detail { 
	border:0px solid black;
	width:100%; overflow: auto; padding-top:10px;
}

.analysis { border:1px solid black; border-collapse:collapse}

.colhead {
text-align:center;
font-weight:bold;
}

table.fadata {
width:100%;
border:1px gray solid;
}

table.fadata th {
text-align:center;
padding:2px 10px;
}

table.fadata td {
text-align:center;
padding:0 10px;
}

table.fadata2 {
width:100%;
border:1px gray solid;
border-collapse:collapse;
}

table.fadata2 th {
text-align:center;
padding:2px 10px;
}

table.fadata2 td {
text-align:right;
padding:2px 10px;
}

table.fadata2 td.facaption {
text-align:left;
}

table.fadata2 td.fasingle {
border-bottom:1px #A2ADB7 solid;
}

table.fadata2 td.fadouble {
border-bottom:3px gray double;
}

table.fadata2 td.left {
text-align:left;
white-space:nowrap;
}

.large_title {
text-align:center;
font-size:16px;
font-weight:bold;
}

table.fatablert {
border-collapse:collapse
}

table.fatablert td {
text-align:right;
padding:1px 10px;
}

table.fatablert td.facaption {
text-align:left;
}

.empty_cell { 
background-color: #CCCCCC;
}



img { border:0px solid black;
}
