html,body {
width:100%;
margin:0;
padding:0;
font-family:Helvetica,Arial,Sans-Serif;
text-align:center;
}

#header div {
float:right;
color:white;
padding:0 20px 0 0;
font-size:.9em;
text-align:right;
line-height:30px;
}

#header {
background:#5f6871;
}

#header {
height:70px;
background:url(../images/mpower_logo_header.png) left top no-repeat #5f6871; 
clear:both;
}

#footer {
font-size:.6em;
margin:50px 0 20px 0;
width:100%;
text-align:center;
}

.info {
margin:50px 0;
width:80%;
padding: 25px;
border:1px #A2ADB7 solid;
text-align:left;
margin-left:auto;
margin-right:auto;
display:none;
}

.info h3 {
margin-top:30px;
margin-bottom:10px;
}