.center {
	text-align:center;
	margin-left:auto; 
	margin-right:auto;
}

#submit {
	float:left;display:none;
}
#cancel {
	display:none;
}


.color_picker { 
	width:50px; 
	height:20px; 
	float:left; cursor:pointer;
}

.color_div { 
	background-color:#999933; 
	position: absolute; 
	color:#FFFFFF
}

