.person, .person_multi {
font-weight:bold;
white-space:nowrap;
}

.person td.tc {
width:80%;
text-align:center;
vertical-align:middle;
}

.person td.tl {
width:10%;
vertical-align:middle;
}

.person td.tr {
width:10%;
vertical-align:middle;
}

.person_multi td.tc {
vertical-align:middle;
}

.person_multi td.tl {
vertical-align:middle;
}

.person_multi td.tr {
vertical-align:middle;
}

a {
text-decoration: none;
}

a:visited {
text-decoration: none;
}

.persondetail {
font-size:1.4em;
}
