.ui-input-search {
	margin-left:10px;
	margin-right:10px;
}

.ui-input-text {
	margin: 0;
}

.ui-input-text input {
	background-color: #E2E2E2;
}

.ui-input-text {
	margin-right: 10px;
}

/* atc */
.atc-list {
	cursor: pointer;
}

li.submit-button-wrap input {
	background-color: #38C;
}

li.note {
	border-top: 1px dotted #E2E2E2;
	padding-top: 20px;
}

.ui-input-text input.add-note-title {
	background-color: #FFF;
}

li div.add-note-body {
	margin-top: 5px;
}

li.note table {
	width: 98%;
}

li.note .foot {
	text-align:right;
	font-size: 12px;
}

.ui-collapsible-inset .ui-collapsible-heading .ui-btn {
	text-align: center;
}

div.add-note-body {
    margin-right: 10px;
}
