#content.event-no-result {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}


.ui-listview>.ui-li-static.row {
	padding:0;
}


.ui-listview>li h2 {
	margin-top: 0;
	margin-bottom:0;
}

.event-page .close-btn {
	margin-right: 10px;
}

.ui-btn.close-event, .ui-btn.add-event {
	margin: 0;
	text-align: left;
}

.ui-listview>.ui-li-static {
	white-space: normal;
}

#check-complete-wrap {
    display: none;
}
