#logo-wrap {
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 5px;
	padding-bottom: 5px;

}

#logo-wrap img {
	min-width: 320px;
    width:70%;
    margin:auto;
}

.ui-field-contain {
	border-bottom: none;
}

#error {
	text-align: center;
	background-color: #FFFFCC;
	color: #CC33FF;
	font-size: 18px;
	display: none;
}

#ui-datepicker-div {
	z-index: 999;
}

.form_required {
	color: red;
	padding-left: 3px;
	padding-right: 3px;
}

/*
.btn-bg-38c {
    background-color : #38c;
}
*/

#attendees {
    padding-left:20px;
}

#attendees button {
    margin-top : 0;
}

#task-list-wrap h4 .ui-btn {
    background-color: #9CAAc6;
}

/* note alert ***********************************/

#note-alert h2 {
    background: #cc0000;
    font-color: white;
    color: white;
    padding: 5px;
    border: 1px solid #e3a1a1;
    padding-left: 20px;
    margin-bottom: 5px;
}

#note_alerts {
    font-size: 1.2em;
}

#note_alerts td {
    padding-right: 25px;
    margin-right: 15px;
}

#note_text {
    min-height: 100px;
    padding: 5px;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid #cacaca;
    font-size: 1.3em;
}

.subtitle {
    font-weight: bold;
}

.note_alert_table {
    width: 100%;
}

table.user_tree {
    border-collapse: collapse;
    /* border: 1px solid #cacaca; */
    margin: 3px 20px;
}

table.user_tree tr td {
    /* border: 1px solid #cde; */
    padding: 5px;
}

table.user_tree tr.header td {
    background-color: #e8eef7;
    text-align: center;
    padding: 0px;
}

div.alert_options span.links, #level_event_msg {
    margin-left : 20px;
    font-size: 14px;
}

table.user_select td {
    border: 1px solid #cde;
}

table.user_tree tr.header td a {
    display: block;
    width: 100%;
}

div.alert_options td a {
    background-color: #cde;
    text-decoration: none;
}

div.alert_options ul {
    padding-left: 10px;
}
