	<script src="js/main.js"></script>
    <!--div id="note_alerts" style="display: none;"></div-->
    <a href="index.php?route=event/alert" id='alert' class="ui-shadow ui-btn ui-corner-all ui-btn-inline" data-transition="pop" style='display:none;'>test</a>
    <script type="text/javascript" src="js/note_alert.js"></script>
</div><!-- page -->
</body>
</html>
